footer
  .row
    ul.social-icons.footer.t-hide.d-hide
      li
        a.icon.twitter(href='https://twitter.com/hkchantown', title='Twitter', target='_blank')
          i.icon-twitter
      li
        a.icon.pinterest(href='https://www.pinterest.com/chantown/', title='Pinterest', target='_blank')
          i.icon-pinterest
      li
        a.icon.etsy(href='http://bit.ly/Etsychan', title='Etsy')
          i.icon-etsy(target='_blank')
      li
        a.icon.instagram(href='https://www.instagram.com/survivinghk/', title='Surviving Hong Kong on Instagram')
          i.icon-instagram(target='_blank')
  .blog-link.row
    a(href='http://blog.chantown.com/')
      .d-hide
        | The archives:
        br
        | Notes from a small Chantown
      .m-hide.t-hide The Archives: Notes from a small Chantown
  .copyright
    | &copy; <script>document.write(new Date().getFullYear())</script> Chantown Creative |
    a(href='contact.html') Contact
.back-to-top(role='nav')
  a(href='#')
    .up-arrow
script(src='assets/js/app.js')
