html
  body(itemscope='', itemtype='http://schema.org/WebSite')
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-M28F3G', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-M28F3G');

    header#global-header.main-header(role='banner')
      .header-content
        .logo-wrapper
          a.logo(href='home.html')
            h1 #{page.title}
          include _social-links.pug
      #js-global-nav.navigation-wrapper
        nav.main-nav(role='navigation')
          ul#js-navigation-menu.navigation-menu.show
            li.nav-link.block
              a#home-link.underlined.active(href='home.html')
                span.m-hide Home
                .icon-home-wrapper.d-t-hide
                  .icon-home

            li.nav-link.block
              a(href='consult.html') Consult
            li.nav-link.block
              a(href='create.html') Create
            li.nav-link.block
              a(href='contact.html') Contact
