<header id="global-header" class="main-header" role="banner">
  <div class="header-content">
    <div class="logo-wrapper">
      <a href="home.html" class="logo">
        <h1>Chantown Creative</h1>
      </a>
    </div>

    {% include sociallinks.html %}

  </div>

  <div id="js-global-nav" class="navigation-wrapper">

    <!-- <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a> -->
    <nav role="navigation" class="main-nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
       <li class="nav-link block">
           <a id="home-link" href="home.html" {% if page.url == "/home.html" %} class="underlined active"{% endif %}>
             <div class="icon-home-wrapper d-t-hide">
               <div class="icon-home"></div>
             </div>
             <span class="m-hide">Home</span>
          </a>
        </li>
        <li class="nav-link block"><a href="consult.html" {% if page.url == "/consult.html" %}class="active"{% endif %}>Consult</a></li>
        <li class="nav-link block"><a href="create.html" {% if page.url == "/create.html" %}class="active"{% endif %}>Create</a></li>
        <li class="nav-link block"><a href="contact.html" {% if page.url == "/contact.html" %}class="active"{% endif %}>Contact </a></li>
      </ul>
    </nav>
  </div>

</header>
