<!-- clients template -->
{{#each clients}}
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{image}}" alt="{{alt}}" class="b-lazy">
  </li>
{{/each}}
