.filter-btns {
  @include margin(12,0,16,0);
  button{
    @include margin(10,10,0,0);
  }
}

.masonry-grid {
  max-width: 1280px;
  min-height: 900px;
  width: 100%;
  //margin: 0 auto;
  figure {
    display: block;
    width: 100%;
    @include media($desktop-up){
      width: 240px;
      height: 240px;
    }
    margin: 0 auto;
    visibility: hidden;
    margin-bottom: 16px;
  }
}

/* clear fix */
.masonry-grid:after {
  content: '';
  display: block;
  clear: both;
  @include clearfix;
}

/* ---- .masonry-grid-item ---- */
.grid-item figure{
    width: auto;
    margin:0;

    a img{
      width: 100%;
      //min-height: 200px;
      @include media($tablet-up) {
        max-width: 120px;
        max-height: 120px;
      }
      @include media($desktop-up) {
        max-width: 240px !important;
        max-height:240px !important;
        width: 240px !important;
        height: 240px !important;
      }
    }


}

.isotope-hidden {
    pointer-events: none;
    z-index: 1;
  }

// .grid-item, .grid-sizer {
//   // width: 100%;
//   // padding-bottom:12px;
//   // @include media($tablet-up) {
//   //   //width: 45%;
//   //   max-width: 200px;
//   // }
//   // @include media($desktop-up) {
//   //   max-width: 450px;
//   // }
// }
//
.grid-sizer {
    width: 100%;
    height: auto;
    @include media($tablet-up) {
      width:450px;
    }
    @include media($desktop-up) {
      width: 240px;
      height: 240px;
    }




}
//
// .grid-item--width2 { width: 200px;
//
//   @include media($tablet-up) {
//     //width: 45%;
//     max-width: 200px;
//   }
//   @include media($desktop-up) {
//     max-width: 450px;
//     width: 450px;
//   }
// }
// .grid-item--height2 {
//   height: 200px;
//   @include media($tablet-up) {
//     //width: 45%;
//     max-width: 200px;
//   }
//   @include media($desktop-up) {
//     max-width: 450px;
//     height: 400px;
//   }
// }


.masonry-grid figcaption {
  display: none;
}
