
.filter-btns {
  @include margin(30,0,60,0);
  button{
    @include margin(10,10,0,0);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 14px 1em 11px 1em;
    font-weight: 600;
  }
}

.isotope-grid {
  max-width: 1280px;
  min-height: 900px;
  display: block;
  clear:both;
  // width: 100%;
  //margin: 0 auto;
  figure {
    display: block;
    margin: 0;
    margin-right: 48px;
    margin-bottom: 48px;
    width: 90px;
    height: 90px;
    @include media($tablet-up) {
      width: 120px;
      height: 120px;
    }
    @include media($desktop-up){
      width: 200px;
      height: 200px;
      margin-right: 42px;
      margin-bottom: 42px;
    }
    // margin: 0 auto;
    // visibility: hidden;
    // margin-bottom: 16px;
  }
}

.isotope-grid:hover .item .thumbnail img {
    // opacity: 0.4;
}

/* clear fix */
.isotope-grid:after {
  content: '';
  display: block;
  clear: both;
  @include clearfix;
}

/* ---- .masonry-grid-item ---- */
.grid-item figure{
    width: auto;
}

.isotope-hidden {
    pointer-events: none;
    z-index: 1;
  }

// .grid-item, .grid-sizer {
//   // width: 100%;
//   // padding-bottom:12px;
//   // @include media($tablet-up) {
//   //   //width: 45%;
//   //   max-width: 200px;
//   // }
//   // @include media($desktop-up) {
//   //   max-width: 450px;
//   // }
// }
//
.grid-sizer {
    width: 120px;
    height: auto;
    @include media($tablet-up) {
      width:120px;
    }
    @include media($desktop-up) {
      width: 240px;
      height: 240px;
    }
}

.item .thumbnail {
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 120px;
  padding-right: 3px;
  padding-bottom: 3px;
  // border-radius: 50%;
  object-fit: fill;
  @include media($tablet-up) {
    width: 120px;
    height: 120px;
  }
  @include media($desktop-up){
    width: 240px;
    height: 240px;
  }
}

.item .thumbnail img {
  height:100%;
  width: 100%;
  object-fit: fill;
  @include transition(all $default-transition-speed ease-out);
  &:hover {
    transform: scale(1.05);
    // opacity: 1 !important;
  }
}

.item .thumbnail img.portrait {
  // width: 100%;
  // height: auto;
}

.isotope-grid figcaption {
  display: none;
}


#isotope-filters.pinned {
  z-index: $z-above-all;
}
