.mix-it-up-gallery button{
  margin: 6px;
}


.flex-container{
  text-align: justify;
  font-size: 0;
}

.flex-container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.flex-container .item,
.flex-container .gap{
  display: inline-block;
  width: 49%;
}

.flex-container .mix{
  text-align: left;
  background: white;
  margin-bottom: 2%;
  margin-right: 2%;
  padding: 2%;
  //border: solid 10px black;
  vertical-align: top;
  display: none;

  -webkit-backface-visibility: hidden;
}

/* Flex box progressive enhancements: */

.flex-container{
  height: 800px;
  overflow: hidden;
  max-width: 100%;
  margin-top: 26px;
  display: -webkit-flex;
  -webkit-flex-flow: column wrap;
	-webkit-justify-content: flex-start;
  -webkit-align-content: flex-start;
}

@media all and (min-width: 420px){
  .flex-container .mix,
  .flex-container .gap{
    width: 32%;
  }
}
