extends _layout.pug

block title
  Chantown Creative

block content
  #js-content.page-container
    section.content-main(role='main')
      .row
        .feature
          img.feature-image.full-width(src='assets/img/pages/CreativeCommunicationsHOMEweb_w1000.jpg', alt='Lost for words, stuck for copy? scrabble board photograph', title='Chantown Creative')
      .row.__text
        h1.size-h1 &quot;As long as we&apos;re creative, we&apos;re cultivating meaning.&quot; &ndash; Bren&eacute; Brown
        p.leader
          | We&apos;re based in Hong Kong and we do creative communications. We help you to create the right message, in the right way, for the right channel or platform.
        p
          | Our specialties lie in project management &amp;amp creative direction, copywriting and custom publishing, for any of your creative projects. We like to express things visually, so we do illustration, too.
        p
          | You&rsquo;d be surprised by some of the sectors we&rsquo;ve delved into to create the perfect marketing tools and communications, like adverts and advertorials, brand &amp;amp style guides, brochures, websites, (live) event reporting, pitches, press releases and press kits, product descriptions, social media content, taglines and launch visuals. And, we work across platforms, which means we can oversee a consistent development of all your communication channels.
        br
        br
      .row
        .cta-block
          .home-cta-block-left-col
            p.centered.m-hide
              a.fancy-btn.btn-w-icon.btn-3d.icon-idea(href='consult.html', data-url='consult.html') Consult
            p
              | Not quite sure what copywriting or creative communications are all about, or how we can help your brand? Click the button to learn more.
            p.centered.t-hide.d-hide
              a.fancy-btn.btn-w-icon.btn-3d.icon-idea(href='consult.html', data-url='consult.html') Consult
          .home-cta-block-right-col
            p.centered.m-hide
              a.fancy-btn.btn-w-icon.btn-3d.icon-bolt(href='create.html', data-url='create.html') Create
            p
              | Director of Chantown Creative,
              a.underlined(href='/contact.html#vc-bio') Vickie Chan
              | , is a practicing artist and illustrator working on both personal and commercial projects. If you&apos;re a visual person or you&apos;re looking for inspiration, click the button to learn more.
            p.centered.t-hide.d-hide
              a.fancy-btn.btn-w-icon.btn-3d.icon-bolt(href='create.html', data-url='create.html') Create
