.feature {
  position: relative;
  margin-top:24px;
  margin-bottom: 30px;
  @include media($tablet-up) {
    @include span-columns(6 of 8);
    @include shift(1);

    @include clearfix();
  }

  @include media($desktop-up) {
    width: 100%;
    @include shift(0);
    margin-bottom: 24px;
    img {
      @include span-columns(12 of 16);
      @include shift(2);
      //margin-top:24px;
      margin-top: 0;
      min-height: 318px;
      //margin-bottom: 54px;
    }

    @include clearfix();
  }
}

.feature .b-lazy {
  max-height: 200px;
  @include media($tablet-up) {
    max-height: 320px;
  }
  @include media($desktop-up) {
    max-height: 388px;

  }
}
