// Google Web font includes
//@include font-face(My-Font, '/fonts/my_font/MyFont-Italic', normal, italic);
$sans-serif: $helvetica;
$joesfin: 'Josefin Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;
