// base styling - styling applied to all pages

html {
  min-height: 100%;
  height: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: $lighter-orange;
  padding: 6px;
  @include media ($desktop-up) {
    padding: 9px;
  }
  overflow-x: hidden;
  //overflow: hidden;
  //border: solid $page-border-width-mobile $lighter-orange;
  /* @include media($tablet-up) {
    border: solid $page-border-width-desktop $lighter-orange;
  }
  border-bottom: none;
  border-top: none; */
//  scroll-behavior: smooth;
}

body {
    background-color: white;
    color: $chantown-gray;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;

}

.row{
  @include row();
}

.__text {

  @include media($tablet-up) {
    margin-right: 1.75782%;
    width: 87.28027%;
    margin-left: 6.35986%;
  }
  @include media($desktop-up) {
    @include span-columns(14 of 16);
    @include shift(1);
    clear: both;
    @include clearfix();
  }
}

.page-border-top {
  height:$page-border-width-mobile;
  width: 100%;
  background-color: $lighter-orange;
  @include media($tablet-up) {
    height: $page-border-width-desktop;
  }
}
.page-container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  min-height: 100%;
  min-height: 65vh;
  margin-bottom: -160px;
  //background-color: lightgreen;
  opacity: .99; // this is needed to set up a new z-index context
  z-index: $z-content;
  @include media($tablet-up) {
    width: 90%;
    max-width: 1280px;
  }
  @include media($desktop-up) {
    width: 76.5%;
    max-width: 1280px;
  }
}

.full-height-wrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  pointer-events: none; // to improve performance of the div that contains the pixels
  z-index: 0;
  opacity: .999;
}
.body-pixels-container {
    position: relative;
    display: block;
    //margin: 0 auto;
    overflow: hidden;
    min-height: 100%;
    z-index: $z-bg;
}
.content-main {
  @include outer-container(960px);
  // max-width: 1280px;
  // margin-top: 120px;
  z-index: $z-content;
  @include padding(0,16,0,16);
  @include media($desktop-up) {
    padding: 0;
    min-height: calc(100vh - 300px);
  }
/*   @include pad(); */
}

.fill-parent, .full-width {
  @include fill-parent();
  width: 100%;
}

.cta-block {
  @include media($desktop-up) {
    padding-top: 37px;
    clear: both;
  }

}

.home-cta-block-left-col {
  //padding:16px;
  //box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 2px 2px rgba(0,0,0,0.05), 0 0 4px 1px rgba(0,0,0,0.05);
  @include media($tablet-up) {
    @include span-columns(4 of 8);
  }
  @include media($desktop-up) {
    @include span-columns(7 of 16);
    @include shift(1);
    p { padding-right: 18px; padding-left: 60px;}
  }

}

.home-cta-block-right-col {
  //padding: 16px;
//  margin-top: 26px;
  //box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 2px 2px rgba(0,0,0,0.05), 0 0 4px 1px rgba(0,0,0,0.05);
    @include media($tablet-up) {
      @include span-columns(4 of 8);
      margin-top: 0;
    }
    @include media($desktop-up) {
      @include span-columns(7 of 16);

      p { padding-left: 18px; padding-right: 60px;}

    }

}

@if ($visual-grid) {
 body:before {
   margin: 0 auto;
   max-width: 1280px;
   @include media($desktop-up) {
     width: 85%;
     max-width: 1280px;
   }
 }
}
