// base styling - styling applied to all pages

html {
  min-height: 100%;
  box-sizing: border-box;
  background-color: $lighter-orange;
  padding: 6px;
  //overflow: hidden;
  //border: solid $page-border-width-mobile $lighter-orange;
  /* @include media($tablet-up) {
    border: solid $page-border-width-desktop $lighter-orange;
  }
  border-bottom: none;
  border-top: none; */
//  scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    color: $chantown-gray;
    min-height: 100%;


}

.row{
  @include row();
}

.page-border-top {
  height:$page-border-width-mobile;
  width: 100%;
  background-color: $lighter-orange;
  @include media($tablet-up) {
    height: $page-border-width-desktop;
  }
}
.page-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  z-index: $z-content;
  @include media($desktop-up) {
    width: 92.5%;
    max-width: 1280px;
  }
}
.content-main {
  @include outer-container;
  // margin-top: 120px;
  @include padding(0,16,0,16);
  @include media($desktop-up) {
    padding: 0;

  }
/*   @include pad(); */
}

.fill-parent, .full-width {
  @include fill-parent();
  width: 100%;
}

.home-cta-block-left-col {
  padding:16px;
  //box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 2px 2px rgba(0,0,0,0.05), 0 0 4px 1px rgba(0,0,0,0.05);
  @include media($tablet-up) {
    @include span-columns(4 of 8);
  }
  @include media($desktop-up) {
    @include span-columns(8 of 16);
    p { width: 100%; }
  }

}

.home-cta-block-right-col {
  padding: 16px;
  margin-top: 26px;
  //box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 2px 2px rgba(0,0,0,0.05), 0 0 4px 1px rgba(0,0,0,0.05);
    @include media($tablet-up) {
      @include span-columns(4 of 8);
      margin-top: 0;
    }
    @include media($desktop-up) {
      @include span-columns(8 of 16);
      p { width: 100%; }

    }

}

@if ($visual-grid) {
 body:before {
   margin: 0 auto;
   max-width: 1280px;
   @include media($desktop-up) {
     width: 92.5%;
     max-width: 1280px;
   }
 }
}
