footer {
  margin-top: 180px;
  height: 190px;

  @include media($desktop-up) {
    margin-bottom: 0;
  }
  @include outer-container;
  .copyright {
    color: $medium-gray;
    text-align: center;
    font-size: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: whitesmoke;
    a {
      @include animated-link-underline();
    }
  }
}

.blog-link {
  background-color: $pale-orange;
  min-height: 46px;
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  font-family: $joesfin;
  text-transform: uppercase;
//  border-left: solid $page-border-width-mobile $lighter-orange;
  //border-right: solid $page-border-width-mobile $lighter-orange;
  @include media($tablet-up) {
  //  border-left: solid $page-border-width-desktop $lighter-orange;
    //border-right: solid $page-border-width-desktop $lighter-orange;
  }
  @include transition(all $default-transition-speed ease-out);
  &:hover {
     background-color: darken($pale-orange, 10%);
     @include transition(all $default-transition-speed ease-out);
  }
  a {
    display: block;
    width: 100%;
    text-align: center;
    color: $dark-gray;
    font-size: 14px;
    padding-top:12px;
    padding-bottom: 6px;
    line-height: 1.5em;

  }
}

.back-to-top {
  position:static;
  width:100%;
  height:2.5em;
  background:$lighter-orange;
  left:0;
  bottom:-54px;
  z-index:$z-above-all;
  @include media($desktop-up) {
    display:none;
  }
  &.visible {
    bottom:0;
    @include transition(all $default-transition-speed ease-out);
  }
  a {
    display: block;
    color: white;
    width: 100%;
    height: 46px;
    text-align: center;

    }
}

.up-arrow {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  padding-top: 20px;

  &:before {
    content: " ";
    width: 16px;
    height: 3px;
    left: 50%;
    margin-left: -13px;
    background-color: whitesmoke;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

   &:after {
    content: " ";
    width: 16px;
    height: 3px;
    background-color: whitesmoke;
    position: absolute;
    right: -3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
