header.main-header {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: $dark-gray !default;
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  $navigation-background: transparent;
  $navigation-color: white;
  $navigation-color-hover: $lighter-orange;
  $navigation-height: 42px;
  $navigation-height-desktop: 120px;
  $navigation-height-collapsed-mobile: 46px;
  $navigation-height-collapsed-desktop: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize($chantown-gray, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $desktop-screen;
  // background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  margin-top: $page-border-width-mobile;
  //margin-left: $page-border-width-mobile;
  //margin-right: $page-border-width-mobile;

  @include media($tablet-up) {

    //margin-top: 0;
    margin-left: $page-border-width-desktop;
    margin-right: $page-border-width-desktop;
    min-height: $navigation-height-desktop;
  }

  @include media ($horizontal-bar-mode) {
      min-height: $navigation-height-desktop;
      max-width: 1280px;
      width: 92.5%;
      margin: 0 auto;
      text-align: center;
  }

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;

    position: relative;
    overflow: hidden;
    z-index: $z-content;
    //background-color: $darker-orange;
    // desktop styles for main navigation
    @include media ($horizontal-bar-mode) {
        min-height: 60px;
        background-color: opacify(whitesmoke, 0.7);;
    }
  }

  .logo-wrapper{
    @include clearfix;
    @include outer-container;
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
    @include media ($horizontal-bar-mode) {
      margin-top: 0px;
      @include span-columns(9);
    }

  }
  .logo {
    display: block;
    max-height: $navigation-height;
    width: 260px;
    margin-top: 16px;
    margin-left: 12px;
    @include hide-text;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    background-image: url(../img/ChantownCreative_LOGO_mobile.png);
    @include transition(all $default-transition-speed ease-out);
    @include media($tablet-up) {
      margin-left: 6px;
      max-height: 60px;
      width: 320px;
    }

    @include media($desktop-up) {
      background-image: url(../img/ChantownCreative_LOGO_desktop.png);
      position: absolute;
      top: 26px;
      width: 450px;
      margin-left: -6px;
      max-height: $navigation-height-desktop;
    }
    z-index: $z-above-nav;

  }
  .logo:hover {
    cursor: pointer;
  }


  // navigation

  ul.navigation-menu {
    padding-top: 3px;
    padding-left: 16px;
    padding-right: 16px;
    max-height: 46px;
    max-width: 600px;
    text-align: justify;
    @include media ($horizontal-bar-mode) {
      @include span-columns(8 of 16, block-collapse);
      @include shift(9);
      padding-top: 30px;
      padding-left: 0;
      max-height: 160px;
      max-width: auto;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      @include media ($horizontal-bar-mode) {
        width: auto;
      }
      height: 0px;
    }
  }
  .nav-link {
    width: auto;
    display: inline-block;
    padding-top: 2px;
    @include media ($horizontal-bar-mode) {

    }
  }

  .nav-link a{
    line-height: 40px;
    display: block;
    font-size: 14px;
    font-family: $joesfin;
    text-align: left;
    color: white;
    text-transform: uppercase;
    padding-left: 0;
    letter-spacing: 1px;
    @include media ($horizontal-bar-mode) {
      color: $darker-orange;
      text-align: center;
      padding: 16px 16px;
      @include animated-link-underline();
    }
  }
  .nav-link a:active {
    color: $dark-gray;
  }

  // &.header--hidden{
  //   position: fixed;
  //   top: -120px;
  //   opacity: 0;
  // }

}



nav.main-nav {
  border-top: 1px solid $lighter-orange;
  border-bottom: 1px solid $lighter-orange;
  margin-top: 12px;
  margin-bottom: 12px;
/*   margin-left: -6px; */
  ul {
    margin-left: 0;
  }

  @include media($tablet-up) {
    border: 0;
  }
}


header.main-header .nav-link a {
  @include animated-link-underline();
  /* border-top: solid 2px $lighter-orange;
  border-bottom: solid 2px $lighter-orange; */
  font-weight: 600;
}


// styles after user scrolls down

// .header--narrow &{
//   position: fixed;
//   top: 0%;
//   left: 50%;
//   transform: translateX(-50%);
//   overflow: hidden;
//   @include media($desktop-up) {
//
//     &:hover .navigation-wrapper{
//         background-color: whitesmoke;
//         @include transition(all $default-transition-speed ease-out);
//     }
//
//     .navigation-wrapper {
//       height: 60px;
//       background-color: transparent;
//       @include transition(all $default-transition-speed ease-out);
//     }
//
//     ul.navigation-menu {
//       padding-top: 0;
//     }
//   }
//   .logo {
//     max-height: calc($navigation-height / 3);
//     width: 300px;
//     margin-top: 16px;
//     margin-left: 16px;
//     @include media($desktop-up) {
//       background-image: url(../img/ChantownCreative_LOGO_desktop.png);
//       position: absolute;
//       top: 6px;
//       margin-top: 6px;
//       width: 260px;
//       margin-left: 0;
//       max-height:  60px;
//     }
//   }
//
//   .logo h1 {
//     margin-bottom: 0;
//   }
//
// }
