.clients-wrapper {
  padding-top: 60px;
  @include media($desktop-up) {
    padding-top: 0;
  }
}

ul.list__clients {
  @include outer-container;
  @include margin(-24,-12,-12,-12);
  overflow: hidden;
  padding-bottom: 60px;
  @include media($tablet-up) {
    margin-top: -24px;
    max-width: 800px;
  }

  li {
    display: block;
    list-style-type: none;
    @include padding(0);
    @include span-columns(1);
    @include omega(3n);
    margin-right: 7.5%;
    width: calc(100% / 4);

    @include media($tablet-up) {
      width: 90px;
    }

    a:hover::after, a::after {
      background: none;
      transition: none;
      transform: none;
    }
    &::before {
      content: "";
    }
  }

}
