<!-- Gallery item 1 -->
<figure class="item commercial" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
  <a href="/assets/img/gallery/test/test1_w2000.jpg" itemprop="contentUrl" data-size="1200x800">


  <img class="responsively-lazy" src="/assets/img/gallery/test/test1_w1000.jpg"
   srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  data-srcset="
    assets/img/gallery/test/test1_w400.jpg 400w,
    assets/img/gallery/test/test1_w600.jpg 600w,
    assets/img/gallery/test/test1_w800.jpg 800w"

  alt="An image of an artwork by Chantown Creative"
  title="chantown creative" itemprop="thumbnail"  />
  </a>
  <figcaption itemprop="caption description">
     Image 1 caption here. <a href="#">this may contain links</a>
    <span itemprop="copyrightHolder"> &copy; Chantown Creative</span>
  </figcaption>
</figure>


<!-- Gallery item 2 -->
<figure class="item llustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
  <a href="http://chantown.com/newwebtest/assets/img/gallery/test/test2_w2000.jpg" itemprop="contentUrl" data-size="1300x1294">
    <img class="responsively-lazy" src="/assets/img/gallery/test/2014_BeggarInTheMorning_30_small_w2000.jpg"
     srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-srcset="
      assets/img/gallery/test/2014_BeggarInTheMorning_30_small_w400.jpg 400w,
      assets/img/gallery/test/2014_BeggarInTheMorning_30_small_w600.jpg 600w,
      assets/img/gallery/test/2014_BeggarInTheMorning_30_small_w800.jpg 800w"

    alt="An image of an artwork by Chantown Creative"
    title="chantown creative" itemprop="thumbnail"  />
  </a>
  <figcaption itemprop="caption description">
    Description for image 2 here.
    <span itemprop="copyrightHolder"> &copy; Chantown Creative</span>
  </figcaption>
</figure>

<!-- Gallery item 3 -->
<figure class="item llustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
  <a href="http://chantown.com/newwebtest/assets/img/gallery/test/test2_w2000.jpg" itemprop="contentUrl" data-size="1200x800">

    <img class="responsively-lazy" src="/assets/img/gallery/test/test2_w2000.jpg"
     srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-srcset="
      assets/img/gallery/test/test2_w400.jpg 400w,
      assets/img/gallery/test/test2_w600.jpg 600w,
      assets/img/gallery/test/test2_w800.jpg 800w"

    alt="An image of an artwork by Chantown Creative"
    title="chantown creative" itemprop="thumbnail"  />
  </a>
  <figcaption itemprop="caption description">
    Description for image 3 here.
    <span itemprop="copyrightHolder"> &copy; Chantown Creative</span>
  </figcaption>
</figure>



<!-- Gallery item 3 -->
<figure class="item llustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
  <a href="/assets/img/gallery/2015/ButYoullCry-FULL_w2000.jpg" itemprop="contentUrl" data-size="885x1214">

    <img class="responsively-lazy" src="/assets/img/gallery/2015/ButYoullCry-FULL_w1500.jpg"
     srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-srcset="
      assets/img/gallery/2015/ButYoullCry-FULL_w400.jpg 400w,
      assets/img/gallery/2015/ButYoullCry-FULL_w600.jpg 600w,
      assets/img/gallery/2015/ButYoullCry-FULL_w800.jpg 800w"

    alt="An image of an artwork by Chantown Creative"
    title="&copy; chantown creative" itemprop="thumbnail"  />
  </a>
  <figcaption itemprop="caption description">
    Description for image 3 here.
    <span itemprop="copyrightHolder"> &copy; Chantown Creative</span>
  </figcaption>
</figure>
