#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $lighter-orange;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;

  letter-spacing: 1px;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: baseline;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $action-color;
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &.is-checked {
    background-color: $action-color
  }
}


// fancy buttons - from codrops
/* General button style (reset) */


.fancy-btn {
	border: solid 2px $darker-orange;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
  //min-width: 220px;
  width: 100%;
  max-width: 260px;
  @include media($tablet-up) {
    max-width: 200px;
  }
	padding: 30px 60px;
	display: inline-block;
	/* margin: 15px 30px; */
	text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  /* line-height: 40px; */
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin: 0 auto;
}

.fancy-btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.fancy-btn:before,
{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.icon-bolt:before {
	//content: "\e010";
  content:' ';
  background-color: white;
  background-image:url('../img/bolt.png');
  background-size:30px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-idea:before {
	//content: "\e010";
  content:' ';
  background-color: white;
  background-image:url('../img/lightbulb.png');
  background-size:30px;
  background-repeat: no-repeat;
  background-position: center;

}

/* Button 3 */
.btn-w-icon {
	background: $darker-orange;
	color: #fff;
}

.btn-w-icon:hover {
	background: $lighter-orange;
  border: solid 2px $lighter-orange;
}

.btn-w-icon:active {
	background: $lighter-orange;
  border: solid 2px $lighter-orange;
	top: 2px;
}

.btn-w-icon:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 2.15;
	font-size: 120%;
	width: 60px;
}

/* Button 3d */
.btn-3d {
	padding: 10px 10px 10px 60px;
	border-radius: 10px;
}

.btn-3d:before {
	color: $darker-orange;
	z-index: 2;
	border-radius: 8px 0 0 8px;
}

.btn-3d:after {
	width: 20px;
	height: 20px;
	background: #fff;
	z-index: 1;
	left: 55px;
	top: 50%;
	margin: -10px 0 0 -10px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.btn-3d:active:before {
	color: #f58500;
}

.btn-3d:active {
	top: 0;
}

.btn-3d:active:after {
	left: 60px;
}

.btn-3d:hover {
  color: #fff;
}

.btn-3d:hover:before {
  color: $lighter-orange;
}


// photoswipe

button.pswp__button.pswp__button--arrow--right:hover,
button.pswp__button.pswp__button--arrow--left:hover {
  background-color: transparent;
}
