// Colors
$blue: #477dca;
$light-green: #95C94B;
$dark-green: #40AC49;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Chantown Colors
$pale-orange: #ffcc66;
$lighter-orange: #ff9933;
$darker-orange: #ff6600;
$chantown-gray: #5d5d5d;

// Font Colors
$base-background-color: whitesmoke;
$base-font-color: $chantown-gray;
$action-color: $darker-orange;
