@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
$grid-columns: 4; // 4 cols on mobile by default
$max-width: 1280; // default max width

// Breakpoints
$large-mobile-screen: em(481); // 481px
$tablet-screen: em(641); // 641px
$large-tablet-screen: em(961); // 961px
$desktop-screen: em(1025); // 1025px
$large-desktop-screen: em(1281); // 1281 px

$large-mobile-up: new-breakpoint(min-width $large-mobile-screen 4);
$tablet-up: new-breakpoint(min-width $tablet-screen 8);
$large-tablet-up: new-breakpoint(min-width $tablet-screen 8);
$desktop-up: new-breakpoint(min-width $desktop-screen 16);
$large-screen-up: new-breakpoint(min-width $large-desktop-screen 16);
