.feature {
  position: relative;
  margin-top:24px;
  margin-bottom: 30px;
  @include media($tablet-up) {
    width: 100%;

    @include clearfix();
  }

  @include media($tablet-up) {
    @include span-columns(14 of 16);
    @include shift(1);
    margin-bottom: 24px;
    img {
      width: 100%;
      margin-top:24px;
      
      // min-height: 318px;
      //margin-bottom: 54px;
    }

    @include clearfix();
  }
}

.feature .b-lazy {
  // max-height: 200px;
  // @include media($tablet-up) {
  //   // max-height: 320px;
  //   max-height: auto;
  // }
  // @include media($desktop-up) {
  //   // max-height: 388px;

  // }
}
