@mixin bootstrap-container {
    @include outer-container;
		@include media($large-mobile-up)  { max-width:  639px; }
		@include media($tablet-up)  { max-width:  959px; }
		@include media($desktop-up)  { max-width: 1279px; }
    @include media($large-screen-up) { max-width:  2800px; }

}

@mixin font-size($font-size){
		font-size:$font-size +px;
		font-size:$font-size / $base-font-size-no-px  +rem;
}

@mixin line-height($line-height){
		line-height: $line-height +px;
		line-height: $line-height / $base-font-size-no-px  +rem;
}

@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
		padding: $top+px $right+px $bottom+px $left+px;
		padding: $top / $base-font-size-no-px+rem $right / $base-font-size-no-px+rem $bottom / $base-font-size-no-px+rem $left / $base-font-size-no-px+rem;
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
		margin: $top+px $right+px $bottom+px $left+px;
		margin: $top / $base-font-size-no-px+rem $right / $base-font-size-no-px+rem $bottom / $base-font-size-no-px+rem $left / $base-font-size-no-px+rem;
}


@mixin link-bottom-border ($color: $lighter-orange) {
  padding-bottom:2px;
  border-bottom: solid 1px $color;
  @include transition(all $default-transition-speed ease-out);
  &:hover {
    padding-bottom: 3px;
    @include transition(all $default-transition-speed ease-out);
  }
}


// default link underlines

@mixin animated-link-underline ($link-color: $lighter-orange, $underline-color: $lighter-orange, $hover-color: $chantown-gray ) {
  color: $link-color;
  position: relative;
  &:hover, &:focus, &:active {
    color: $hover-color;
  }



  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    //background: rgba(0,0,0,0.1);
    background: $underline-color;
    content: '';
    opacity: 0;
    -webkit-transition: opacity $default-transition-speed, -webkit-transform $default-transition-speed;
    -moz-transition: opacity $default-transition-speed, -moz-transform $default-transition-speed;
    transition: opacity $default-transition-speed, transform $default-transition-speed;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }

  &:hover::after, &:focus::after, &:active::after {
    opacity: 1;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    transform: translateY(2px);
  }
}
