// sprites
// Sets background image and size with IE fallback
%sprite {
    display: inline-block;
    background-image: url(map-get($sprite, svgPath));
    background-size: calc( mq-px2em(map-get($sprite, width)) / 2 ) calc (mq-px2em(map-get($sprite, height)) / 2 );
}
%ie-sprite {
     background-image: url(map-get($sprite, pngPath));
}
