ul.list__clients {
  @include outer-container;
  @include margin(-42,0,26,12);
  overflow: hidden;
  li {
    display: block;
    list-style-type: none;
    @include padding(0);
    @include span-columns(1);
    @include omega(3n);

    @include media($tablet-up) {
      @include span-columns(1);
      @include omega-reset(3n); // Pa
      @include omega(9n);
    }

    &::before {
      content: "";

    }
  }

}
