ul.list__clients {
  @include outer-container;
  @include margin(-42,-18,26,-18);
  overflow: hidden;
  li {
    display: block;
    list-style-type: none;
    @include padding(0);
    @include span-columns(2);
    @include omega(2n);

    @include media($tablet-up) {
      @include span-columns(1);
      @include omega-reset(2n); // Pa
      @include omega(4n);
    }

    &::before {
      content: "";

    }
  }

}
