.clients-wrapper {
  padding-top: 60px;
  @include media($desktop-up) {
    padding-top: 0;
  }
}


// ul.list__clients {
//   @include outer-container;
//   @include margin(-24,-12,-12,-12);
//   overflow: hidden;
//   padding-bottom: 60px;
//   @include media($tablet-up) {
//     margin-top: -24px;
//     max-width: 800px;
//   }
//
//   li {
//     display: block;
//     list-style-type: none;
//     @include padding(0);
//     @include span-columns(1);
//     @include omega(3n);
//     margin-right: 7.5%;
//     width: calc(100% / 4);
//
//     @include media($tablet-up) {
//       width: 90px;
//     }
//
//     a:hover::after, a::after {
//       background: none;
//       transition: none;
//       transform: none;
//     }
//     &::before {
//       content: "";
//     }
//   }
//
// }


ul.list__clients {
  @include outer-container;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -12px;
  overflow: hidden;
  padding-bottom: 60px;
  @include media($tablet-up) {
    // margin-top: -24px;
    // justify-content: flex-start;
    max-width: 800px;
  }

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include padding(0);
    // margin-right: 7.5%;
    margin: 5px 10px;
    width: 70px;
    min-height: 120px;

    @include media($tablet-up) {
      width: 90px;
      margin: 10px 20px;
    }

    img {
      width: 100%;
      max-width: 100%;
    }
    a:hover::after, a::after {
      background: none;
      transition: none;
      transform: none;
    }
    &::before {
      content: "";
    }
  }

}


ul.hand-drawn-icons {
  @extend ul.list__clients;
  padding-top: 30px;
  padding-bottom: 0;
  li {
    width: 40px;
    min-height: 60px;
    @include media($tablet-up) {
      width: 90px;
      margin: 10px 20px;
    }
  }
}
