
<header class="main-header" role="banner">

  <div class="logo-wrapper">
    <a href="/" class="logo">
      <h1>Chantown Creative</h1>
    </a>
  </div>

  <div class="navigation-wrapper">

    <!-- <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a> -->
    <nav role="navigation" class="main-nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link block"><a href="home.html">Home</a></li>
        <li class="nav-link block"><a href="consult.html">Consult</a></li>
        <li class="nav-link block"><a href="create.html">Create</a></li>
        <li class="nav-link block"><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>


</header>
