<!-- facebook open graph tags -->
<meta property="og:url"                content="http://www.chantown.com/contact.html" />
<meta property="og:title"              content="Chantown Creative" />
<meta property="og:description"        content="A creative communications agency that can help you with a wide range of copywriting, editing and custom publishing services." />
<meta property="og:image"              content="assets/img/pages/create_lightened_w1500.jpg" />

</head>

<body itemscope itemtype="http://schema.org/WebSite" >
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M28F3G"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M28F3G');</script>
  <!-- End Google Tag Manager -->
<header id="global-header" class="main-header" role="banner">
  <div class="logo-wrapper">
    <a href="index.html" class="logo">
      <h1>Chantown Creative</h1>
    </a>
  </div>

  <ul class="social-icons header m-hide">

    <li>
      <a href="https://twitter.com/hkchantown" class="icon twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.pinterest.com/chantown/" class="icon pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
    </li>
    <li>
      <a href="http://bit.ly/Etsychan" class="icon etsy" title="Etsy" target="_blank"><i class="icon-etsy"></i></a>
    </li>
    <li>
      <a href="http://survivinghongkong.tumblr.com" class="icon tumblr" title="Surviving Hong Kong on Tumblr" target="_blank"><i class="icon-tumblr" ></i></a>
    </li>


  </ul>
  <div id="js-global-nav" class="navigation-wrapper">

    <!-- <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a> -->
    <nav role="navigation" class="main-nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
       <li class="nav-link block">
           <a id="home-link" href="index.html" class="underlined">
             <div class="icon-home-wrapper d-t-hide">
               <div class="icon-home"></div>
             </div>
             <span class="m-hide">Home</span>
             <!-- <span class="arrow"></span> -->
          </a>
        </li>
        <li class="nav-link block"><a href="consult.html" class="active">Consult</a></li>
        <li class="nav-link block"><a href="create.html">Create</a></li>
        <li class="nav-link block"><a href="contact.html">Contact </a></li>
      </ul>
    </nav>
  </div>

</header>
