<header id="global-header" class="main-header" role="banner">
  <div class="header-pixels-container"></div>
  <div class="logo-wrapper">
    <a href="index.html" class="logo">
      <h1>Chantown Creative</h1>
    </a>
  </div>


  <div id="js-global-nav" class="navigation-wrapper">

    <!-- <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a> -->
    <nav role="navigation" class="main-nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
       <li class="nav-link block">
           <a id="home-link" href="index.html" class="underlined">
             <div class="icon-home-wrapper d-t-hide">
               <div class="icon-home"></div>
             </div>
             <span class="m-hide">Home</span>
             <!-- <span class="arrow"></span> -->
          </a>
        </li>
        <li class="nav-link block"><a href="consult.html">Consult</a></li>
        <li class="nav-link block"><a href="create.html">Create</a></li>
        <li class="nav-link block"><a href="contact.html">Contact </a></li>
      </ul>
    </nav>
  </div>

</header>
