<!-- facebook open graph tags -->
<meta property="og:url"                content="http://www.chantown.com/contact.html" />
<meta property="og:title"              content="Chantown Creative" />
<meta property="og:description"        content="A creative communications agency that can help you with a wide range of copywriting, editing and custom publishing services." />
<meta property="og:image"              content="assets/img/pages/create_lightened_w1500.jpg" />

</head>

<body class="@@body_classes">

<header id="global-header" class="main-header" role="banner">
  <div class="logo-wrapper">
    <a href="index.html" class="logo">
      <h1>Chantown Creative</h1>
    </a>
  </div>

  <ul class="social-icons header m-hide">

    <li>
      <a href="https://twitter.com/hkchantown" class="icon twitter" title="Twitter"><i class="icon-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.pinterest.com/chantown/" class="icon pinterest" title="Pinterest"><i class="icon-pinterest"></i></a>
    </li>
    <li>
      <a href="http://bit.ly/Etsychan" class="icon etsy" title="Etsy"><i class="icon-etsy"></i></a>
    </li>
    <li>
      <a href="http://www.tumblr.com/blog/survivinghongkong" class="icon tumblr" title="Surviving Hong Kong on Tumblr"><i class="icon-tumblr" target="_blank"></i></a>
    </li>


  </ul>
  <div id="js-global-nav" class="navigation-wrapper">

    <!-- <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a> -->
    <nav role="navigation" class="main-nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
       <li class="nav-link block">
           <a id="home-link" href="index.html" class="underlined">
             <div class="icon-home-wrapper d-t-hide">
               <div class="icon-home"></div>
             </div>
             <span class="m-hide">Home</span>
             <!-- <span class="arrow"></span> -->
          </a>
        </li>
        <li class="nav-link block"><a href="consult.html">Consult</a></li>
        <li class="nav-link block"><a href="create.html">Create</a></li>
        <li class="nav-link block"><a href="contact.html" class="active">Contact </a></li>
      </ul>
    </nav>
  </div>

</header>
