<div class="full-height-wrapper" >
  <div class="body-pixels-container"></div>
</div>
<footer>

  <div class="row">
    <ul class="social-icons footer t-hide d-hide">

      <li>
        <a href="https://twitter.com/hkchantown" class="icon twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.pinterest.com/chantown/" class="icon pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
      </li>
      <li>
        <a href="http://bit.ly/Etsychan" class="icon etsy" title="Etsy"><i class="icon-etsy" target="_blank"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/survivinghk/" class="icon instagram" title="Surviving Hong Kong on Instagram"><i class="icon-instragram" target="_blank"></i></a>
      </li>


    </ul>

  </div>
  <div class="blog-link row"><a href="http://blog.chantown.com/"><div class="d-hide">The archives: <br>Notes from a small Chantown</div><div class="m-hide t-hide">The Archives: Notes from a small Chantown</div></a></div>

  <div class="copyright">© 2015 Chantown Creative | <a href="contact.html">Contact</a></div>

</footer>
<div class="back-to-top" role="nav">

<a href="#"><div class="up-arrow"></div></a>
</div>


<script async src="assets/js/app.js"></script>
<!-- load google web fonts asynchronously-->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Josefin Sans:300,600,700:latin']
    }
  });
</script> -->

</body>
</html>
