<!-- books template -->
  <div class="thumbnail-with-link">
    <a href="http://www.michaels.com/what-will-you-create-drawing-with-the-3doodler-book/10457913.html?productsource&#x3D;PDPZ1" class="thumbnail-with-link__image">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="https://www.datocms-assets.com/159/1483130382-3doodlerwwyccover-jpg?fm&#x3D;jpg&amp;w&#x3D;200"
      class="b-lazy"
      alt="What Will You Create Drawing with the 3Doodler® book cover"
      title="What Will You Create Drawing with the 3Doodler®" />
    </a>
    <div class="thumbnail-with-link__link_wrap">
      <a href="http://www.michaels.com/what-will-you-create-drawing-with-the-3doodler-book/10457913.html?productsource&#x3D;PDPZ1" class="underlined thumbnail-with-link__link" target="_blank">What Will You Create Drawing with the 3Doodler®</a>
    </div>
  </div>
  <div class="thumbnail-with-link">
    <a href="http://www.amazon.com/The-Other-Hundred-Entrepreneurs-Stories/dp/1780747128" class="thumbnail-with-link__image">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="https://www.datocms-assets.com/159/1483130788-theotherhundredcover-jpg?fm&#x3D;jpg&amp;w&#x3D;200"
      class="b-lazy"
      alt="The Other Hundred Entrepreneurs book cover"
      title="The Other Hundred Entrepreneurs" />
    </a>
    <div class="thumbnail-with-link__link_wrap">
      <a href="http://www.amazon.com/The-Other-Hundred-Entrepreneurs-Stories/dp/1780747128" class="underlined thumbnail-with-link__link" target="_blank">The Other Hundred Entrepreneurs</a>
    </div>
  </div>
