<!-- clients template -->
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1483129647-golin-logo-png?fm&#x3D;jpg&amp;w&#x3D;400" alt="Golin logo" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1483128293-3doodler-logo-png?fm&#x3D;jpg&amp;w&#x3D;400" alt="3Doodler logo" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1483128370-scmp-logo-png?fm&#x3D;jpg&amp;w&#x3D;400" alt="SCMP Logo" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1483128545-mslgroup-logo-png?fm&#x3D;jpg&amp;w&#x3D;400" alt="MSL Group Logo" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1483128578-smartone-logo-png?fm&#x3D;jpg&amp;w&#x3D;400" alt="Smartone logo" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1483128610-publics-logo-png?fm&#x3D;jpg&amp;w&#x3D;400" alt="Publicis logo" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1483129099-tbwa-logo-png?fm&#x3D;jpg&amp;w&#x3D;400" alt="TBWA logo" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1483129138-sunhungkai-logo-png?fm&#x3D;jpg&amp;w&#x3D;400" alt="Sun Hung Kai Properties Logo" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1483129195-68-grey-png?fm&#x3D;jpg&amp;w&#x3D;400" alt="6IXTY 8IGHT logo" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1483129239-kids-dailies-logo-png?fm&#x3D;jpg&amp;w&#x3D;400" alt="Kids Dailies Logo" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1483129262-hoplun-png?fm&#x3D;jpg&amp;w&#x3D;400" alt="HopLun Logo" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1505652632-hktdc-hkmb-logo.png?fm&#x3D;jpg&amp;w&#x3D;400" alt="" class="b-lazy">
  </li>
  <li>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1505652658-culturesmartlogo.png?fm&#x3D;jpg&amp;w&#x3D;400" alt="" class="b-lazy">
  </li>
