<!-- Full gallery template  (show all images)-->
  <figure class="item illustration screenprint" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1812" data-size-desktop="2000x1812"
    data-size-mobile="800x725">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt="Chinese New Year lai see envelopes illustrated and screenprinted by Vickie Chan"
        title="Year of the Monkey Lai See (利是) envelopes | 2016" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Year of the Monkey Lai See (利是) envelopes | 2016 </br>
      Screenprint of illustration</br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item illustration commercial mixed-media screenprint" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1506170602-201501_angkorwatfullbgrblueyellowoverprint.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506170602-201501_angkorwatfullbgrblueyellowoverprint.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1469" data-size-desktop="2000x1469"
    data-size-mobile="800x587">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1506170602-201501_angkorwatfullbgrblueyellowoverprint.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506170602-201501_angkorwatfullbgrblueyellowoverprint.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1506170602-201501_angkorwatfullbgrblueyellowoverprint.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1506170602-201501_angkorwatfullbgrblueyellowoverprint.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt="Angkor Wat screenprint by Vickie Chan"
        title="Angkor Wat Overprint | 2015" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Angkor Wat Overprint | 2015 </br>
      Screenprint on mixed media background</br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item mixed-media painting" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2743" data-size-desktop="2000x2743"
    data-size-mobile="800x1097">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt="But You&#x27;ll Cry vinyl painting by Vickie Chan"
        title="But You&#x27;ll Cry | 2015" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      But You&#x27;ll Cry | 2015 </br>
      Mixed media painting on vinyl record </br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1391" data-size-desktop="2000x1391"
    data-size-mobile="800x556">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt="Leicester Fox illustration by Vickie Chan"
        title="Leicester Fox | 2015" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Leicester Fox | 2015 </br>
      Ink Illustration</br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item commercial illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1327" data-size-desktop="2000x1327"
    data-size-mobile="800x531">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt="68 Bus – graphics by Vickie Chan"
        title="68 Bus | 2011" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      68 Bus | 2011 </br>
      Commercial illustration</br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item mixed-media" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1506179361-swimmingpool_8.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506179361-swimmingpool_8.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2091" data-size-desktop="2000x2091"
    data-size-mobile="800x836">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1506179361-swimmingpool_8.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506179361-swimmingpool_8.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1506179361-swimmingpool_8.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1506179361-swimmingpool_8.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt="Swimming Pool mixed media on canvas by Vickie Chan"
        title="Swimming Pool | 2002" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Swimming Pool | 2002 </br>
      Mixed media on canvas</br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item painting mixed-media" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1506179864-everyoneiseeisyou.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506179864-everyoneiseeisyou.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2000" data-size-desktop="2000x2000"
    data-size-mobile="800x800">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1506179864-everyoneiseeisyou.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506179864-everyoneiseeisyou.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1506179864-everyoneiseeisyou.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1506179864-everyoneiseeisyou.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt="Everyone I See is You mixed media painting on canvas by Vickie Chan"
        title="Everyone I See is You | 2001" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Everyone I See is You | 2001 </br>
      Mixed media on canvas</br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
