<!-- gallery template -->
  <figure class="item sketch" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1482185522-201603_RiverKhwae_small.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1482185522-201603_RiverKhwae_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1383" data-size-desktop="2000x1383"
    data-size-mobile="800x553">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1482185522-201603_RiverKhwae_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1482185522-201603_RiverKhwae_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1482185522-201603_RiverKhwae_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1482185522-201603_RiverKhwae_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt=""
        title="River Khwae | 2016" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      River Khwae | 2016 </br>
      </br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item commercial" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1482185625-201603_Deathcab.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1482185625-201603_Deathcab.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2838" data-size-desktop="2000x2838"
    data-size-mobile="800x1135">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1482185625-201603_Deathcab.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1482185625-201603_Deathcab.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1482185625-201603_Deathcab.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1482185625-201603_Deathcab.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt=""
        title="Death Cab for Cutie poster | 2016" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Death Cab for Cutie poster | 2016 </br>
      </br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item mixed-media painting" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2743" data-size-desktop="2000x2743"
    data-size-mobile="800x1097">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt="But You&#x27;ll Cry vinyl painting by Vickie Chan"
        title="But You&#x27;ll Cry | 2015" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      But You&#x27;ll Cry | 2015 </br>
      But You&#x27;ll Cry</br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1482185787-14SurvHK20160218Lift.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1482185787-14SurvHK20160218Lift.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2564" data-size-desktop="2000x2564"
    data-size-mobile="800x1025">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1482185787-14SurvHK20160218Lift.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1482185787-14SurvHK20160218Lift.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1482185787-14SurvHK20160218Lift.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1482185787-14SurvHK20160218Lift.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt="Surviving Hong Kong: Lift Etiquette illustration by Vickie Chan"
        title="Surviving Hong Kong Series: Lift Etiquette | 2016" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Surviving Hong Kong Series: Lift Etiquette | 2016 </br>
      </br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1482185704-15SurvHK20160223Calbees.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1482185704-15SurvHK20160223Calbees.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2525" data-size-desktop="2000x2525"
    data-size-mobile="800x1010">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1482185704-15SurvHK20160223Calbees.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1482185704-15SurvHK20160223Calbees.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1482185704-15SurvHK20160223Calbees.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1482185704-15SurvHK20160223Calbees.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt="Surviving Hong Kong: Opening a Pack of Calbees illustration by Vickie Chan"
        title="Surviving Hong Kong Series: Opening a Pack of Calbees | 2016" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Surviving Hong Kong Series: Opening a Pack of Calbees | 2016 </br>
      Illustration</br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item  illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1483119156-13survhk20160214cinema-jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1483119156-13survhk20160214cinema-jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2618" data-size-desktop="2000x2618"
    data-size-mobile="800x1047">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1483119156-13survhk20160214cinema-jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1483119156-13survhk20160214cinema-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1483119156-13survhk20160214cinema-jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1483119156-13survhk20160214cinema-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt=""
        title="Surviving Hong Kong Series: Cinema-going | 2016" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Surviving Hong Kong Series: Cinema-going | 2016 </br>
      </br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item illustration screenprint" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1812" data-size-desktop="2000x1812"
    data-size-mobile="800x725">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt=""
        title="Year of the Monkey Lai See (利是) envelopes | 2016" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Year of the Monkey Lai See (利是) envelopes | 2016 </br>
      </br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item Illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1483120156-12survhk2016012toilets-jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1483120156-12survhk2016012toilets-jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2723" data-size-desktop="2000x2723"
    data-size-mobile="800x1089">
      <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1483120156-12survhk2016012toilets-jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1483120156-12survhk2016012toilets-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1483120156-12survhk2016012toilets-jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1483120156-12survhk2016012toilets-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt=""
        title="Surviving Hong Kong: Toilets | 2016" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Surviving Hong Kong: Toilets | 2016 </br>
      </br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
  <figure class="item Illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="https://www.datocms-assets.com/159/1483120659-11survhk201512gotmilk-jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1483120659-11survhk201512gotmilk-jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2690" data-size-desktop="2000x2690"
    data-size-mobile="800x1076">
      <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1483120659-11survhk201512gotmilk-jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1483120659-11survhk201512gotmilk-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
      data-src-medium="https://www.datocms-assets.com/159/1483120659-11survhk201512gotmilk-jpg?fm&#x3D;jpg&amp;w&#x3D;800">
        <img src="https://www.datocms-assets.com/159/1483120659-11survhk201512gotmilk-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        alt=""
        title="Surviving Hong Kong: Got Milk? | 2015" itemprop="thumbnail"  />
      </div>
    </a>
    <figcaption itemprop=\"caption description\">
      Surviving Hong Kong: Got Milk? | 2015 </br>
      </br>
      <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
    </figcaption>
  </figure>
