<!-- hand-drawn social media icons template -->
<li>
  <a href="https://www.pinterest.co.uk/chantown/" target="_blank">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1511702593-pinterestponlyblueai300pxnew.png?fm&#x3D;png&amp;w&#x3D;100" alt="" class="b-lazy">
  </a>
</li>
<li>
  <a href="https://www.instagram.com/studiochanpei/" target="_blank">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1511702729-instagramlinesblueai300pxnew.png?fm&#x3D;png&amp;w&#x3D;100" alt="" class="b-lazy">
  </a>
</li>
<li>
  <a href="https://www.etsy.com/hk-en/shop/Chantown" target="_blank">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1511702966-etsyblueai300pxnew.png?fm&#x3D;png&amp;w&#x3D;100" alt="" class="b-lazy">
  </a>
</li>
<li>
  <a href="https://twitter.com/hkchantown" target="_blank">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.datocms-assets.com/159/1511702999-twitterblueai300pxnew.png?fm&#x3D;png&amp;w&#x3D;100" alt="" class="b-lazy">
  </a>
</li>
