<!-- Portfolio template -->
    <figure class="item illustration screenprint" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1812" data-size-desktop="2000x1812"
      data-size-mobile="800x725">
        <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1483119654-201601cnylaiseeall-jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Chinese New Year lai see envelopes illustrated and screenprinted by Vickie Chan"
          title="Year of the Monkey Lai See Envelopes | 2016" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Year of the Monkey Lai See Envelopes | 2016 </br>
        Screenprint lai see envelopes</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506168216-8survhk201511masks.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506168216-8survhk201511masks.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x3048" data-size-desktop="2000x3048"
      data-size-mobile="800x1219">
        <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1506168216-8survhk201511masks.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506168216-8survhk201511masks.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506168216-8survhk201511masks.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506168216-8survhk201511masks.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Surviving Hong Kong: Wearing a Mask illustration by Vickie Chan"
          title="Surviving Hong Kong: Wearing a Mask | 2015" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Surviving Hong Kong: Wearing a Mask | 2015 </br>
        Ink illustration</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506170230-1survhk201508railings.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506170230-1survhk201508railings.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2255" data-size-desktop="2000x2255"
      data-size-mobile="800x902">
        <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1506170230-1survhk201508railings.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506170230-1survhk201508railings.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506170230-1survhk201508railings.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506170230-1survhk201508railings.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Surviving Hong Kong: Railings illustration by Vickie Chan"
          title="Surviving Hong Kong Series: Railings | 2015" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Surviving Hong Kong Series: Railings | 2015 </br>
        Illustration</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506170376-3survhk201508peripheralvision.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506170376-3survhk201508peripheralvision.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2621" data-size-desktop="2000x2621"
      data-size-mobile="800x1048">
        <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1506170376-3survhk201508peripheralvision.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506170376-3survhk201508peripheralvision.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506170376-3survhk201508peripheralvision.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506170376-3survhk201508peripheralvision.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Surviving Hong Kong Series: Peripheral Vision illustration by Vickie Chan"
          title="Surviving Hong Kong: Peripheral Vision | 2015" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Surviving Hong Kong: Peripheral Vision | 2015 </br>
        Ink illlustration</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506170530-201506_thedaysrunaway.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506170530-201506_thedaysrunaway.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1748" data-size-desktop="2000x1748"
      data-size-mobile="800x699">
        <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1506170530-201506_thedaysrunaway.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506170530-201506_thedaysrunaway.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506170530-201506_thedaysrunaway.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506170530-201506_thedaysrunaway.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="The Days Run Away illustration by Vickie Chan"
          title="The Days Run Away (illustration) | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        The Days Run Away (illustration) | 2017 </br>
        Ink illustration</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item painting mixed-media" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506170683-2015_existentialismonpromnight_20.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506170683-2015_existentialismonpromnight_20.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2000" data-size-desktop="2000x2000"
      data-size-mobile="800x800">
        <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1506170683-2015_existentialismonpromnight_20.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506170683-2015_existentialismonpromnight_20.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506170683-2015_existentialismonpromnight_20.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506170683-2015_existentialismonpromnight_20.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Existentialism on Prom Night mixed media painting on canvas by Vickie Chan"
          title="Existentialism on Prom Night | 2015" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Existentialism on Prom Night | 2015 </br>
        Mixed media on canvas</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item mixed-media painting" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2743" data-size-desktop="2000x2743"
      data-size-mobile="800x1097">
        <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1480881962-ButYoullCry-FULL.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="But You&#x27;ll Cry vinyl painting by Vickie Chan"
          title="But You&#x27;ll Cry | 2015" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        But You&#x27;ll Cry | 2015 </br>
        Mixed media painting on vinyl record </br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item screenprint illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506171706-201510_dozerpinkbrown.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506171706-201510_dozerpinkbrown.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1441" data-size-desktop="2000x1441"
      data-size-mobile="800x576">
        <div class='thumbnail b-lazy show-at-start' data-src="https://www.datocms-assets.com/159/1506171706-201510_dozerpinkbrown.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506171706-201510_dozerpinkbrown.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506171706-201510_dozerpinkbrown.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506171706-201510_dozerpinkbrown.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Dozer embellished screenprint by Vickie Chan"
          title="Dozer screenprint (pink) | 2015" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Dozer screenprint (pink) | 2015 </br>
        Embellished screenprint</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1391" data-size-desktop="2000x1391"
      data-size-mobile="800x556">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506171823-leicesterfoxclean.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Leicester Fox illustration by Vickie Chan"
          title="Leicester Fox | 2015" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Leicester Fox | 2015 </br>
        Ink Illustration</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Drawing" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506172355-taphrom.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506172355-taphrom.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1355" data-size-desktop="2000x1355"
      data-size-mobile="800x542">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506172355-taphrom.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506172355-taphrom.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506172355-taphrom.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506172355-taphrom.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Ta Phrom sketch by Vickie Chan"
          title="Ta Phrom | 2014" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Ta Phrom | 2014 </br>
        Ink drawing</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506172552-folkestonecrescent.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506172552-folkestonecrescent.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1407" data-size-desktop="2000x1407"
      data-size-mobile="800x562">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506172552-folkestonecrescent.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506172552-folkestonecrescent.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506172552-folkestonecrescent.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506172552-folkestonecrescent.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Folkestone Crescent sketch by Vickie Chan"
          title="Folkestone Crescent | 2013" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Folkestone Crescent | 2013 </br>
        Ink illustration</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506172606-thirdstcolour.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506172606-thirdstcolour.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2883" data-size-desktop="2000x2883"
      data-size-mobile="800x1153">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506172606-thirdstcolour.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506172606-thirdstcolour.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506172606-thirdstcolour.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506172606-thirdstcolour.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Third St (colour) sketch by Vickie Chan"
          title="Third St (colour) | 2013" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Third St (colour) | 2013 </br>
        Ink illustration</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506172662-ricewinebottlecolour.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506172662-ricewinebottlecolour.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2818" data-size-desktop="2000x2818"
      data-size-mobile="800x1127">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506172662-ricewinebottlecolour.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506172662-ricewinebottlecolour.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506172662-ricewinebottlecolour.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506172662-ricewinebottlecolour.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Rice wine bottle ink illustration by Vickie Chan"
          title="Rice Wine Bottle (colour) | 2013" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Rice Wine Bottle (colour) | 2013 </br>
        Colour ink illustration</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506172772-maplesyrup.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506172772-maplesyrup.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2699" data-size-desktop="2000x2699"
      data-size-mobile="800x1079">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506172772-maplesyrup.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506172772-maplesyrup.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506172772-maplesyrup.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506172772-maplesyrup.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Maple Syrup ink illustration by Vickie Chan"
          title="Maple Syrup | 2013" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Maple Syrup | 2013 </br>
        Ink illustration</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506174427-2011_3_68miraweeklywow.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506174427-2011_3_68miraweeklywow.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1413" data-size-desktop="2000x1413"
      data-size-mobile="800x565">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506174427-2011_3_68miraweeklywow.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506174427-2011_3_68miraweeklywow.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506174427-2011_3_68miraweeklywow.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506174427-2011_3_68miraweeklywow.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="68 Launch Weekly Wow graphic by Vickie Chan"
          title="68 Launch Weekly Wow | 2011" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        68 Launch Weekly Wow | 2011 </br>
        Illustration for website, for 6IXTY 8IGHT</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1327" data-size-desktop="2000x1327"
      data-size-mobile="800x531">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506174596-2011_1_68bus.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="68 Bus – graphics by Vickie Chan"
          title="68 Bus | 2011" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        68 Bus | 2011 </br>
        Illustration on bus for 6IXTY 8IGHT</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Drawing" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506174662-perhentian.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506174662-perhentian.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1461" data-size-desktop="2000x1461"
      data-size-mobile="800x584">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506174662-perhentian.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506174662-perhentian.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506174662-perhentian.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506174662-perhentian.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Perhentian ink sketch by Vickie Chan"
          title="Perhentian | 2011" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Perhentian | 2011 </br>
        Ink sketch</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item painting mixed-media" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506174883-chinacalling-fakefull.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506174883-chinacalling-fakefull.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2747" data-size-desktop="2000x2747"
      data-size-mobile="800x1098">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506174883-chinacalling-fakefull.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506174883-chinacalling-fakefull.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506174883-chinacalling-fakefull.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506174883-chinacalling-fakefull.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="China Calling painting on vinyl by Vickie Chan"
          title="China Calling | 2010" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        China Calling | 2010 </br>
        Painting on vinyl record</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item painting mixed-media" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506174941-hongkongwhatgdnfull.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506174941-hongkongwhatgdnfull.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2747" data-size-desktop="2000x2747"
      data-size-mobile="800x1098">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506174941-hongkongwhatgdnfull.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506174941-hongkongwhatgdnfull.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506174941-hongkongwhatgdnfull.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506174941-hongkongwhatgdnfull.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Hong Kong Garden painting on vinyl by Vickie Chan"
          title="Hong Kong Garden | 2010" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Hong Kong Garden | 2010 </br>
        Painting on vinyl record</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item painting mixed-media" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506175304-sailingonthesevenseas_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506175304-sailingonthesevenseas_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2000" data-size-desktop="2000x2000"
      data-size-mobile="800x800">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506175304-sailingonthesevenseas_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506175304-sailingonthesevenseas_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506175304-sailingonthesevenseas_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506175304-sailingonthesevenseas_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Sailing on the Seven Seas mixed media painting on canvas by Vickie Chan"
          title="Sailing on the Seven Seas | 2010" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Sailing on the Seven Seas | 2010 </br>
        Mixed media on canvas</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item painting mixed-media" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506175445-borntolose_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506175445-borntolose_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1986" data-size-desktop="2000x1986"
      data-size-mobile="800x794">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506175445-borntolose_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506175445-borntolose_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506175445-borntolose_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506175445-borntolose_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Born to Lose mixed media painting on canvas by Vickie Chan"
          title="Born to Lose | 2010" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Born to Lose | 2010 </br>
        Mixed media on canvas</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item painting mixed-media" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506175840-untitled_shouldistay_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506175840-untitled_shouldistay_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1995" data-size-desktop="2000x1995"
      data-size-mobile="800x798">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506175840-untitled_shouldistay_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506175840-untitled_shouldistay_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506175840-untitled_shouldistay_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506175840-untitled_shouldistay_30_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Untitled (Should I Stay) mixed media painting on canvas by Vickie Chan"
          title="Untitled (Should I Stay?) | 2008" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Untitled (Should I Stay?) | 2008 </br>
        Mixed media on canvas</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item painting mixed-media" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506175923-sever_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506175923-sever_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1995" data-size-desktop="2000x1995"
      data-size-mobile="800x798">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506175923-sever_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506175923-sever_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506175923-sever_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506175923-sever_20_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Sever mixed media painting on canvas by Vickie Chan"
          title="Sever | 2008" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Sever | 2008 </br>
        Mixed media on canvas</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item painting mixed-media" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506176399-tig_8_small.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506176399-tig_8_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1984" data-size-desktop="2000x1984"
      data-size-mobile="800x793">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506176399-tig_8_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506176399-tig_8_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506176399-tig_8_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506176399-tig_8_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Untitled (Tigger) painting on canvas by Vickie Chan"
          title="Untitled (Tigger) | 2007" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Untitled (Tigger) | 2007 </br>
        Painting on canvas</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item screenprint illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1506179161-chinatownwindow_print.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1506179161-chinatownwindow_print.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1402" data-size-desktop="2000x1402"
      data-size-mobile="800x560">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1506179161-chinatownwindow_print.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1506179161-chinatownwindow_print.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1506179161-chinatownwindow_print.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1506179161-chinatownwindow_print.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt="Chinatown Window, SF screenprint by Vickie Chan"
          title="Chinatown Window, SF | 2002" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Chinatown Window, SF | 2002 </br>
        Screenprint</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Surface pattern" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510372244-201705_gvilleterrazzoflorabrushesblpurp_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510372244-201705_gvilleterrazzoflorabrushesblpurp_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1413" data-size-desktop="2000x1413"
      data-size-mobile="800x565">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510372244-201705_gvilleterrazzoflorabrushesblpurp_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510372244-201705_gvilleterrazzoflorabrushesblpurp_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510372244-201705_gvilleterrazzoflorabrushesblpurp_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510372244-201705_gvilleterrazzoflorabrushesblpurp_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="Gville Terrazzo Flora Brush (Purple) | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Gville Terrazzo Flora Brush (Purple) | 2017 </br>
        Surface pattern design</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Illustration Drawing" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510372502-201708_thunderrollingoverheadpena_small.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510372502-201708_thunderrollingoverheadpena_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2916" data-size-desktop="2000x2916"
      data-size-mobile="800x1166">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510372502-201708_thunderrollingoverheadpena_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510372502-201708_thunderrollingoverheadpena_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510372502-201708_thunderrollingoverheadpena_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510372502-201708_thunderrollingoverheadpena_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="Thunder Rolling Ahead (Pena) | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Thunder Rolling Ahead (Pena) | 2017 </br>
        Drawing</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Drawing Surface pattern" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510372707-201708_nationaltheatregarden_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510372707-201708_nationaltheatregarden_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2829" data-size-desktop="2000x2829"
      data-size-mobile="800x1131">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510372707-201708_nationaltheatregarden_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510372707-201708_nationaltheatregarden_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510372707-201708_nationaltheatregarden_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510372707-201708_nationaltheatregarden_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="Untitled (National Theatre Garden) | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Untitled (National Theatre Garden) | 2017 </br>
        Five-layer drawing and surface pattern</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Drawing Illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510372763-201708_mercadodaribeira_small.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510372763-201708_mercadodaribeira_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1413" data-size-desktop="2000x1413"
      data-size-mobile="800x565">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510372763-201708_mercadodaribeira_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510372763-201708_mercadodaribeira_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510372763-201708_mercadodaribeira_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510372763-201708_mercadodaribeira_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="Mercado de Ribeira | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Mercado de Ribeira | 2017 </br>
        Drawing</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Illustration" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510372827-201706a_23survhk-sweatybum.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510372827-201706a_23survhk-sweatybum.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2000" data-size-desktop="2000x2000"
      data-size-mobile="800x800">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510372827-201706a_23survhk-sweatybum.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510372827-201706a_23survhk-sweatybum.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510372827-201706a_23survhk-sweatybum.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510372827-201706a_23survhk-sweatybum.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="Surviving HK Series: Sweaty Bum | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Surviving HK Series: Sweaty Bum | 2017 </br>
        Illustration for Surviving HK series</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Surface pattern" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510372888-201706_wallpapersunsetharboursucculentroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510372888-201706_wallpapersunsetharboursucculentroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2996" data-size-desktop="2000x2996"
      data-size-mobile="800x1198">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510372888-201706_wallpapersunsetharboursucculentroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510372888-201706_wallpapersunsetharboursucculentroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510372888-201706_wallpapersunsetharboursucculentroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510372888-201706_wallpapersunsetharboursucculentroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="Succulent (Sunset Harbour) | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Succulent (Sunset Harbour) | 2017 </br>
        Surface pattern design for wallpaper</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Surface pattern" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510372954-201706_wallpapersunsetharbourpalmfrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510372954-201706_wallpapersunsetharbourpalmfrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2996" data-size-desktop="2000x2996"
      data-size-mobile="800x1198">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510372954-201706_wallpapersunsetharbourpalmfrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510372954-201706_wallpapersunsetharbourpalmfrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510372954-201706_wallpapersunsetharbourpalmfrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510372954-201706_wallpapersunsetharbourpalmfrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="Palm Frond (Sunset Harbour) | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Palm Frond (Sunset Harbour) | 2017 </br>
        Surface pattern design for wallpaper</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Surface pattern" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510373018-201706_sunsetharbourleaffrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510373018-201706_sunsetharbourleaffrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2996" data-size-desktop="2000x2996"
      data-size-mobile="800x1198">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510373018-201706_sunsetharbourleaffrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510373018-201706_sunsetharbourleaffrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510373018-201706_sunsetharbourleaffrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510373018-201706_sunsetharbourleaffrondroomscenechop.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="Leaf Frond (Sunset Harbour) | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Leaf Frond (Sunset Harbour) | 2017 </br>
        Surface pattern design for wallpaper</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Surface pattern" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510373063-201705_killerjaws-jawbone-rgb-schop.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510373063-201705_killerjaws-jawbone-rgb-schop.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1806" data-size-desktop="2000x1806"
      data-size-mobile="800x722">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510373063-201705_killerjaws-jawbone-rgb-schop.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510373063-201705_killerjaws-jawbone-rgb-schop.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510373063-201705_killerjaws-jawbone-rgb-schop.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510373063-201705_killerjaws-jawbone-rgb-schop.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="Jawbone (Killer Jaws) | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Jawbone (Killer Jaws) | 2017 </br>
        Geometric surface pattern</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Surface pattern" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510373119-201705_killerjaws-eltiburon-rgb_schop_small-copy.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510373119-201705_killerjaws-eltiburon-rgb_schop_small-copy.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x2000" data-size-desktop="2000x2000"
      data-size-mobile="800x800">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510373119-201705_killerjaws-eltiburon-rgb_schop_small-copy.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510373119-201705_killerjaws-eltiburon-rgb_schop_small-copy.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510373119-201705_killerjaws-eltiburon-rgb_schop_small-copy.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510373119-201705_killerjaws-eltiburon-rgb_schop_small-copy.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="El Tiburon (Killer Jaws) | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        El Tiburon (Killer Jaws) | 2017 </br>
        Geometric surface pattern design</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Surface pattern " itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510373178-201705_gvilleterrazzoflorabrusholive.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510373178-201705_gvilleterrazzoflorabrusholive.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1999" data-size-desktop="2000x1999"
      data-size-mobile="800x799">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510373178-201705_gvilleterrazzoflorabrusholive.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510373178-201705_gvilleterrazzoflorabrusholive.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510373178-201705_gvilleterrazzoflorabrusholive.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510373178-201705_gvilleterrazzoflorabrusholive.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="Gville Terrazzo Flora Brush (Olive) | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Gville Terrazzo Flora Brush (Olive) | 2017 </br>
        Surface pattern design</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
    <figure class="item Surface pattern" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="https://www.datocms-assets.com/159/1510373262-201705_gvilleterrazoflorapopsplotlightwhite_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;2000" data-mobile-link="https://www.datocms-assets.com/159/1510373262-201705_gvilleterrazoflorapopsplotlightwhite_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" itemprop="contentUrl" data-size="2000x1415" data-size-desktop="2000x1415"
      data-size-mobile="800x566">
        <div class='thumbnail b-lazy' data-src="https://www.datocms-assets.com/159/1510373262-201705_gvilleterrazoflorapopsplotlightwhite_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800" data-src-small="https://www.datocms-assets.com/159/1510373262-201705_gvilleterrazoflorapopsplotlightwhite_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
        data-src-medium="https://www.datocms-assets.com/159/1510373262-201705_gvilleterrazoflorapopsplotlightwhite_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;800">
          <img src="https://www.datocms-assets.com/159/1510373262-201705_gvilleterrazoflorapopsplotlightwhite_scchop_small.jpg?fm&#x3D;jpg&amp;w&#x3D;400"
          alt=""
          title="Gville Terrazo Flora Pop-splot (White) | 2017" itemprop="thumbnail"  />
        </div>
      </a>
      <figcaption itemprop=\"caption description\">
        Gville Terrazo Flora Pop-splot (White) | 2017 </br>
        Surface pattern design</br>
        <span itemprop=\"copyrightHolder\" class="image-copyright"> &copy; Vickie Chan</span>
      </figcaption>
    </figure>
