<ul class="social-icons header m-hide">

  <li>
    <a href="https://twitter.com/hkchantown" class="icon twitter" title="Twitter" alt="Chantown Creative on Twitter" target="_blank"><i class="icon-twitter"></i></a>
  </li>
  <li>
    <a href="https://www.pinterest.com/chantown/" class="icon pinterest" alt="Chantown Creative on Pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
  </li>
  <li>
    <a href="http://bit.ly/Etsychan" class="icon etsy" alt="Chantown Creative on Etsy" title="Etsy" target="_blank"><i class="icon-etsy"></i></a>
  </li>
  <li>
    <a href="http://survivinghongkong.tumblr.com" class="icon tumblr" title="Surviving Hong Kong on Tumblr" alt="Surviving Hong Kong on Tumblr" target="_blank"><i class="icon-tumblr" ></i></a>
  </li>

</ul>
