<div class="row text-content">
   <h1 class="size-h1"> Get in touch </h1>
</div>

<div class="row">
 <div class="feature">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="https://www.datocms-assets.com/159/1513000482-chanpeiquotecontactsometimesquestions_sfw3000px.png?fm=jpg&w=2000"
    data-src-small="https://www.datocms-assets.com/159/1513000482-chanpeiquotecontactsometimesquestions_sfw3000px.png?fm=jpg&w=800"
    class="b-lazy feature-image full-width"
    alt="Sometimes the questions are complicated - quote"
    title="Sometimes the questions are complicated" />
  </div>
</div>
<div class="row text-content">
  <br>
  <br>
  <p class="leader">Websites are lovely, but talking is better, so you can contact Vickie at <a class="underlined" href="mailto:hello@chantown.com">hello@chantown.com</a>. Vickie replies promptly to emails and never hesitates to pick up the phone, so be sure to include your number.&nbsp;</p> 
</div>
<!-- <div class="row text-content">
  <p><a href="mailto:hello@chantown.com" style="max-width: 250px" class="fancy-btn btn-w-icon btn-3d icon-bolt contact-btn" data-url="mailto:hello@chantown.com"></a></p>
</div> -->
<div class="row text-content">

      <div class="left-profile-image">
        <div class="images-wrapper" style="background: url(https://www.datocms-assets.com/159/1508692201-vc_3290sqblurheadshot.png?fm&#x3D;jpg&amp;w&#x3D;400) top center no-repeat; background-size: contain; cursor: pointer;" onclick="window.location = './home.html#contact-vc';">
        </div>
        <div class="side-image-content">
            <h2><a class="underlined with-left-arrow" href="./home.html#contact-vc"><strong>Remind me who Vickie is</strong></a></h2>
        </div>
      </div>
</div>
<div class="row text-content" style="padding-top: 30px">
    <h2 style="text-align: center; width: 100%">Join the cocktail party</h2> 
  <br/>
  
</div>

<div class="row text-content">
      <ul class="hand-drawn-icons">
        <!-- Include hand drawn social links -->
        @@include('../widgets/_illustratedIcons.html')
      </ul>
</div>