<div class="row">
  <div class="feature">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="https://www.datocms-assets.com/159/1483374560-creativecommunicationshomeweb-jpg?fm=jpg&w=1000"
    data-src-small="https://www.datocms-assets.com/159/1483374560-creativecommunicationshomeweb-jpg?fm=jpg&w=600"
    class="b-lazy feature-image full-width"
    alt="Lost for words, stuck for copy? scrabble board photograph"
    title="Chantown Creative" />
  </div>
</div>

<div class="row __text">
  <h1 class="size-h1"> "As long as we're creative, we're cultivating meaning." – Brené Brown </h1>
  <p class="leader"> <p>We're based in Hong Kong and we do creative communications. We help you to create the right message, in the right way, for the right channel or platform.</p> </p>
  <p>You&rsquo;d be surprised by some of the sectors we&rsquo;ve delved into to create the perfect marketing tools and communications, like adverts and advertorials, brand &amp; style guides, brochures, websites, (live) event reporting, pitches, press releases and press kits, product descriptions, social media content, taglines and launch visuals. And, we work across platforms, which means we can oversee a consistent development of all your communication channels.</p>
</div>

<div class="row">
  <div class="cta-block">

    <h1>Surviving HK on Instagram:</h1>
    <script src="//www.powr.io/powr.js" external-type="html"></script>
    <div class="powr-instagram-feed" id="3a76c458_1506197764"></div>


    <script>

    function ready(fn) {
      if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
        fn();
      } else {
        document.addEventListener('DOMContentLoaded', fn);
      }
    }

    ready (function() {
      var instaFrame = document.getElementById("3a76c458_1506197764");
      var innerContents = instaFrame.contentWindow.document.body;
        console.log(innerContents.querySelector("powrMark"));
    
    });

    </script>

    <!-- <div class="home-cta-block-left-col">

          <p class="centered m-hide "><a href="consult.html" class="fancy-btn btn-w-icon btn-3d icon-idea" data-url="consult.html">Consult</a></p>
          <p>Not quite sure what copywriting or creative communications are all about, or how we can help your brand? Click the button to learn more.</p>
          <p class="centered t-hide d-hide"><a href="consult.html" class="fancy-btn btn-w-icon btn-3d icon-idea" data-url="consult.html">Consult</a></p>

    </div>
    <div class="home-cta-block-right-col">

          <p class="centered  m-hide"><a href="create.html" class="fancy-btn btn-w-icon btn-3d icon-bolt" data-url="create.html">Create</a></p>

          <p>Director of Chantown Creative, <a href="/contact.html#vc-bio" class="underlined">Vickie Chan</a>, is a practicing artist and illustrator working on both personal and commercial projects.
          If you're a visual person or you're looking for inspiration, click the button to learn more.</p>

          <p class="centered t-hide d-hide"><a href="create.html" class="fancy-btn btn-w-icon btn-3d icon-bolt" data-url="create.html">Create</a></p>

        </div> -->


  </div>
</div>
