<div class="row text-content">
  <h1 class="size-h1"> Managing creative projects | Freelance illustration projects | Surface pattern designer </h1>
</div>

<div class="row">
  <div class="feature">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="https://www.datocms-assets.com/159/1483374560-creativecommunicationshomeweb-jpg?fm=jpg&w=1000"
    data-src-small="https://www.datocms-assets.com/159/1483374560-creativecommunicationshomeweb-jpg?fm=jpg&w=600"
    class="b-lazy feature-image full-width"
    alt="Lost for words, stuck for copy? scrabble board photograph" />
  </div>
</div>



<div class='row text-content'>
    <div class='padding-top-2x'>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="https://www.datocms-assets.com/159/1508690612-chantown-creative-logo.png?fm=png&w=600"
    data-src-small="https://www.datocms-assets.com/159/1508690612-chantown-creative-logo.png?fm=png&w=300"
    class="b-lazy logo"
    alt="" />
    </div>
</div>

<div class="row text-content padding-bottom-2x">
  <h2>Create</h2>
  <p>
    <span class="leader">Vickie Chan is a trained artist who takes freelance illustration commissions and also works as a freelance surface pattern designer.</span>
<p>Her work includes illustrations, creative lettering (sometimes described as typography), and pattern designs that can be used for a range of applications from creative communications to textile and hardware prints including for fashion, homeware, interior design, stationery and other products. Vickie works solo or as a collaborator.</p> <br/>
    <a href='create.html' class="underlined" style="border-bottom: 2px solid #f60; text-transform: uppercase">More</a>
  </p>

</div>




<div class="row">
  <div class="cta-block">


    <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/452140" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; width:100%;"></iframe>

  </div>
</div>

<div class='row text-content padding-top-2x'>
    <div>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="https://www.datocms-assets.com/159/1508690618-chantown-creative-logo.png?fm=png&w=600"
    data-src-small="https://www.datocms-assets.com/159/1508690618-chantown-creative-logo.png?fm=png&w=300"
    class="b-lazy logo"
    alt="" />
    </div>
</div>

<div class="row text-content">
  <h2>Consult</h2>
  <p>
    <span class="leader">Working primarily in Hong Kong, Vickie acts as a consulting creative director managing creative projects </span>
<p>with a focus on visuals and copy. With experience in brand development, marketing and PR, graphic design and custom publishing, web and UI development, video production and copywriting, Vickie can work on a macro or micro level on any given project.</p> <br/>

    <a href='create.html' class="underlined" style="border-bottom: 2px solid #f60; text-transform: uppercase">More</a>
  </p>
  <p>&nbsp;</p>
</div>


<div id="contact-vc" class="row text-content" style="margin-top: 30px;">
  <div class="left-profile-image">
      <div class="side-image-content">
        <h2>Wait. Who?</h2>
        <p><p>Before founding Chantown in 2009 and becoming a creative projects consultant under <a class="underlined" href="consult.html">Chantown Creative</a>, Vickie worked in Branding, Design Project Management and Marketing Communications. In 2017, Vickie established <a class="underlined" href="create.html">studio Chantown</a> as an umbrella for freelance illustration projects and her work as a freelance surface pattern designer.&nbsp;</p></p>
      </div>
  <div class="images-wrapper" style="background: url(https://www.datocms-assets.com/159/1508692329-vc_3290sqblurheadshot.png?fm=png&w=600) top center no-repeat; background-size: contain;"></div>
  </div>
</div>
<div class="row text-content">
  <p>Vickie grew up and was educated in the UK, spending many summers in Hong Kong visiting family. A few years after completing a degree in Fine Art, Vickie fulfilled a life-long yearning to live in Hong Kong and revel in a wealth of cross-cultural inspiration, which feeds her inquisitive imagination. With English as her mother tongue and a firm grip on Cantonese, Vickie understands both Western and Chinese culture. Her lifetime of traveling back and forth between the UK and Hong Kong has given Vickie a uniquely rounded understanding on the different cultural and social spaces &ndash; and the commercial markets that result.</p>
<p>As a writer and editor, Vickie contributes to publications including the South China Morning Post, Zolima Magazine, HKTDC Hong Kong Means Business and occasionally writes themed trend reports for WGSN. She is the editor and designer for <a class="underlined" href="https://www.amazon.com/3Doodler-What-Will-Create-Project/dp/0692466932">What Will You Create&trade;</a> and co-author of <a class="underlined" href="http://www.culturesmartbooks.co.uk/">Culture Smart! Hong Kong</a> (releasing in 2018).</p>
<p>On a more personal note, Vickie has an appetite for learning and an interest in oh-so-many things. She loves an adventure and hates perfect symmetry. Brainstorming ideas gives her the same sense of endless possibility as sailing on the wide-open sea. She is good at helping people find their path or connect the dots. She also has an unhealthy appetite for Marmite.</p>
</div>








