
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
%animate-flicker {
   -webkit-animation: flickerAnimation 4s infinite ease-in-out;
   -moz-animation: flickerAnimation 4s infinite ease-in-out;
   -o-animation: flickerAnimation 4s infinite ease-in-out;
    animation: flickerAnimation 4s infinite ease-in-out;
}

.pixel {
    z-index: $z-behind-bg;
    // -webkit-transition: opacity 12s ease-in-out;
    // -moz-transition: opacity 12s ease-in-out;
    // -ms-transition: opacity 12s ease-in-out;
    // transition: opacity 12s ease-in-out;
    // position: absolute;
    // // opacity: 0;
    pointer-events: none;
    // @extend %animate-flicker;
}
.pixel.on {

  // -webkit-transition: opacity 12s ease-in-out;
  // -moz-transition: opacity 12s ease-in-out;
  // -ms-transition: opacity 12s ease-in-out;
  // transition: opacity 12s ease-in-out;
  // opacity: 1;
  // @extend %animate-flicker;
}
