.left-profile-image {
   $base-line-height: 1.5em !default;
   $action-color: #477DCA !default;
   $dark-gray: #333 !default;
   $tablet-up: em(860) !default;
   $base-font-color: $dark-gray !default;
   $side-image-background-top: #B5EBEB;
   $side-image-background-bottom: #5DAC5D;
   $side-image-content-background: #F9F9F9;
   $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);
   @include margin(0,0,18,0);
   background: transparent;

   @include media($tablet-up) {
     @include row(table);
     @include span-columns(8);
     @include padding(34,0,26,0);
     clear: both;
   }
   @include media($desktop-up) {
      @include span-columns(16);
   }


   .images-wrapper {
    //  @include background(url('/assets/img/VickieChanHeadshot.jpg'), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
     @include background(url('../img/VickieChanHeadshot_w400.jpg'));

    //  background-color: $side-image-background-top;
     background-size:contain;
     background-position: top left;
     background-repeat: no-repeat;
    //  border-bottom: $side-image-border;
     display: block;
     padding: 0;
     min-height: 260px;
     @include media($tablet-up) {
       @include background(url('../img/VickieChanHeadshot_w1000.jpg'));
       @include span-columns(6);
       background-position: top center;
       background-size: contain;
       background-repeat: no-repeat;
      //  border-right: $side-image-border;
     }

     @include media($desktop-up) {
        @include background(url('../img/VickieChanHeadshot_w1000.jpg'));
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        @include span-columns(4);
        padding: 3em;
     }
   }

   .side-image-content {
     @include span-columns(12);
     padding: 0;

     @include media($tablet-up) {
       @include span-columns(8);
     }

     @include media($desktop-up) {
       @include span-columns(8);
     }

     h2 {
       padding-top: 0;
       @include media($desktop-up) {
         padding-top: 0;
         margin-top: 0;
       }
     }

     p { width: 100%; }
   }

   @include reset-display();
}
