.thumbnail-with-link {
  @include margin(16,0,16,0);
  clear: both;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  @include media($desktop-up) {
      @include margin(38,0,38,0);

  }

}

a.thumbnail-with-link__image {
  @include span-columns(1);
  @include media($desktop-up) {
    max-width: 100px;

  }
}

.thumbnail-with-link__link_wrap {
  display: block;
  height: 100%;
  overflow: hidden;
  @include span-columns(3);
}

.thumbnail-with-link__link {
  @include animated-link-underline();
  overflow: visible;
  font-family: $joesfin;
  font-weight: 600;
  @include font-size(18);
  @include line-height(23);
  @include padding(12, 0, 18, 0);
  @include margin(0);
  font-family: $joesfin;


  @include media($tablet-up) {
    @include font-size(20);
    @include line-height(27);
    @include padding(14, 0, 20, 0);
  }

  @include media($desktop-up) {
    @include font-size(24);
    @include line-height(32);
    @include padding(12, 0, 18, 0);
    @include margin(0);
  }
  &::-moz-selection,
  &::selection { background-color: $darker-orange; color: white;}
}
