// credit for sprites goes to this article :
//https://www.liquidlight.co.uk/blog/article/creating-svg-sprites-using-gulp-and-sass/

$icons: (
      sprite: (width: 840px, height: 840px, pngPath: '../../assets/img/sprites/sprite.png', svgPath: '../../assets/img/sprites/sprite.svg'),
    bolt: (width: 30px, height: 30px, backgroundX: 0px, backgroundY: 0px),
    bulb: (width: 30px, height: 30px, backgroundX: -40px, backgroundY: -40px),
    etsy: (width: 30px, height: 30px, backgroundX: -80px, backgroundY: -80px),
    etsy-gray: (width: 30px, height: 30px, backgroundX: -120px, backgroundY: -120px),
    etsyHover: (width: 30px, height: 30px, backgroundX: -160px, backgroundY: -160px),
    facebook: (width: 30px, height: 30px, backgroundX: -200px, backgroundY: -200px),
    facebook-gray: (width: 30px, height: 30px, backgroundX: -240px, backgroundY: -240px),
    facebookHover: (width: 30px, height: 30px, backgroundX: -280px, backgroundY: -280px),
    instagram: (width: 30px, height: 30px, backgroundX: -320px, backgroundY: -320px),
    instagram-gray: (width: 30px, height: 30px, backgroundX: -360px, backgroundY: -360px),
    instagramHover: (width: 30px, height: 30px, backgroundX: -400px, backgroundY: -400px),
    pinterest: (width: 30px, height: 30px, backgroundX: -440px, backgroundY: -440px),
    pinterest-gray: (width: 30px, height: 30px, backgroundX: -480px, backgroundY: -480px),
    pinterestHover: (width: 30px, height: 30px, backgroundX: -520px, backgroundY: -520px),
    share: (width: 30px, height: 30px, backgroundX: -560px, backgroundY: -560px),
    tumblr: (width: 30px, height: 30px, backgroundX: -600px, backgroundY: -600px),
    tumblr-gray: (width: 30px, height: 30px, backgroundX: -640px, backgroundY: -640px),
    tumblrHover: (width: 30px, height: 30px, backgroundX: -680px, backgroundY: -680px),
    twitter: (width: 30px, height: 30px, backgroundX: -720px, backgroundY: -720px),
    twitter-gray: (width: 30px, height: 30px, backgroundX: -760px, backgroundY: -760px),
    twitterHover: (width: 30px, height: 30px, backgroundX: -800px, backgroundY: -800px),
);
