@import "neat-helpers";
.hide-text {
   @include hide-text;
   display:none;
}

.m-hide {
  display: none;
  @include media($tablet-up) {
    display:block;
  }
}

.t-hide {
  @include media($tablet-only) {
    display:none;
  }
}


.d-t-hide {
  @include media($tablet-up) {
    display:none;
  }
}

.d-hide {
  @include media($desktop-up) {
    display:none;
  }
}

.no-pad-bottom {
  padding-bottom: 0;
}

.clearfix {
  clear:both;
  @include clearfix();
}


