$base-font-size: 18px;
$base-line-height: 28px;
$measure: 760px;

$h1-font-size: 42;
$h1-line: 28;
$h1-lines: 2;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

$h2-font-size: 42;
$h2-line: 28;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: 24;
$h3-line: 28;
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

$h4-font-size: 18;
$h4-line: 28;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;

// Variables are rounded to pixels
// It's safe to multiply with integers
// eg. h1 {margin: 2*$h1-line 0;}
// The grid will stay aligned

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: 300;
  @include font-size($base-font-size);
  @include line-height($base-line-height);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1, .size-h1 {

  @include font-size(24);
  @include line-height(30);
  @include padding(14, 0, 12, 0);
  @include margin(0);

  @include media ($tablet-up) {
    @include font-size($h1-font-size);
    @include line-height($h1-line-height);
    @include padding($h1-margin-top, 0, $h1-margin-bottom, 0);
    @include margin(0);
  }
}

h2, .size-h2 {



  @include font-size(24);
  @include line-height(30);
  @include padding(26, 0, 12, 0);
  @include margin(0);

  @include media($tablet-up) {
    @include font-size($h2-font-size);
    @include line-height($h2-line-height);
    @include padding($h2-margin-top, 0, $h2-margin-bottom, 0);
    @include margin(0);
  }
}

h3, .size-h3 {

  @include font-size(22);
  @include line-height(28);
  //@include padding(16, 0, 10, 0);
  @include margin(0);

  @include media ($tablet-up) {
    @include font-size($h3-font-size);
    @include line-height($h3-line-height);
  //@include padding($h3-margin-top, 0, $h3-margin-bottom, 0);
    @include margin(0);

  }
}

h4, .size-h4 {

  @include font-size($h4-font-size);
  @include line-height($h4-line-height);
  //@include padding($h4-margin-top, 0, 0, 0);
  @include margin(0);
}

h5, .size-h5 {
  @include font-size(16);
}

h6, .size-h6 {
  @include font-size(14);
}

p {

  @include font-size(20);
  @include line-height(26);
  @include padding(12, 0, 18, 0);
  @include margin(0);
  font-family: $joesfin;
/*   font-family: $fira;
font-weight: 300; */
  font-family: 400;

  @include media($desktop-up) {
    @include font-size(22);
    @include line-height(30);
    @include padding(12, 0, 18, 0);
    @include margin(0);
  }


}

// additional paragraph styles
.leader {

  @include font-size(24);
  @include line-height(30);
  @include padding(24, 0, 12, 0);
  @include margin(0);
  color: darken($base-font-color, 10%);
  @include media($desktop-up) {
    @include font-size(26);
    @include line-height(36);
    @include padding(24, 0, 16, 0);
    @include margin(0);
  }
}

.small {
  @include font-size(14);
  @include line-height(21);
  @include padding(8, 0, 14, 0);
  @include margin(0);
}

.para-uppercase {
  @include font-size(12);
  @include line-height(18);
  @include padding(8, 0, 14, 0);
  @include margin(0);
  text-transform: uppercase;
}

strong, b,{
  font-weight: bold;
}

em {
  font-style:italic;
}



a {
  color: $dark-gray;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($dark-gray, 20%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

p a {
  font-weight: 600;
  color: $lighter-orange;
  &.underlined{ @include animated-link-underline(); }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

mark {
  background: opacify(yellow, 0.4);
  color: #000;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

figcaption {
  text-align: center;
  @include media($tablet-up) {
      text-align:right;
  }

  @extend .small;
  padding-top: 6px;

  a{
     @include animated-link-underline();
  }
}
.pswp__caption__center a{
   @include animated-link-underline();
  &:hover{
    color: white;
  }
}
blockquote {
  margin-left: 0;
  padding-left: 36px;
  padding-top: 12px;
  border-left: solid 6px $pale-orange;
  margin-bottom: 18px;
}


// main-content typography

.content-main {
  @include media($tablet-up) {
    /* p {
      max-width: 540px;
      float: none;
      clear: both;
    } */

  }

  @include media($desktop-up){
    p {
      @include span-columns(9);
      float: none;
      clear: both;
    }
  }
}
