$base-font-size: 18px;
$base-line-height: 28px;
$measure: 760px;

$h1-font-size: 24;
$h1-line: 30;
$h1-lines: 2;
$h1-line-height: $h1-line * $h1-lines;
// $h1-margin-top: 2 * $h1-line;
$h1-margin-top: 0;
$h1-margin-bottom: 0;

$h2-font-size: 20;
$h2-line: 26;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
// $h2-margin-top: 2 * $h2-line;
$h2-margin-top: 0;
$h2-margin-bottom: 0;

$h3-font-size: 24;
$h3-line: 28;
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 0;

$h4-font-size: 18;
$h4-line: 28;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 0;

// Variables are rounded to pixels
// It's safe to multiply with integers
// eg. h1 {margin: 2*$h1-line 0;}
// The grid will stay aligned

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: 300;
  @include font-size($base-font-size);
  @include line-height($base-line-height);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0;
}

h1, .size-h1 {

  @include font-size(24);
  @include line-height(30);
  // @include padding(14, 0, 12, 0);
  @include padding(0, 0, 0, 0);

  @include margin(0);

  @include media ($tablet-up) {
    //@include font-size($h1-font-size);
    //@include line-height($h1-line-height);
    //@include padding($h1-margin-top, 0, $h1-margin-bottom, 0);
    //@include padding($h1-margin-top, 0, 0, 0);
    //@include margin(0);
  }
}

h2, .size-h2 {

  @include font-size(20);
  @include line-height(26);
  // @include padding(26, 0, 12, 0);
  @include padding(0, 0, 0, 0);

  @include margin(0);

  @include media($tablet-up) {
    //@include font-size($h2-font-size);
    //@include line-height($h2-line-height);
    //@include padding($h2-margin-top, 0, $h2-margin-bottom, 0);
    //@include margin(0);
  }
}

h3, .size-h3 {

  @include font-size(18);
  @include line-height(23);
  //@include padding(16, 0, 10, 0);
  @include padding(0, 0, 0, 0);

  @include margin(0);

  @include media ($tablet-up) {
    //@include font-size($h3-font-size);
    //@include line-height($h3-line-height);
  //@include padding($h3-margin-top, 0, $h3-margin-bottom, 0);
    //@include margin(0);

  }
}

h4, .size-h4 {

  @include font-size(16);
  @include line-height(23);
  //@include padding(16, 0, 10, 0);
  @include padding(0, 0, 0, 0);
  @include margin(0);

}

h5, .size-h5 {
  @include font-size(16);
  @include line-height(20);
  @include padding(0, 0, 0, 0);
  @include margin(0);
}


h1 ~ p, h2 ~ p, h3 ~ p{
  padding-top:6px;
}

h4 ~ p, h5 ~ p {
  padding-top: 0;
}

p {

  @include font-size(18);
  @include line-height(23);
  @include padding(12, 0, 18, 0);
  @include margin(0);
  font-family: $joesfin;
/*   font-family: $fira;
font-weight: 300; */
  font-weight: 300;

  @include media($desktop-up) {
    @include font-size(20);
    @include line-height(26);
    @include padding(12, 0, 18, 0);
    @include margin(0);
  }
}

// paragraphs following headings (remove all top padding on the paragraphs)

h1 + p, h2 + p, h3 + p, h4 + p {
  padding-top: 0;
}

// additional paragraph styles
.leader {

  @include font-size(20);
  @include line-height(24);
  @include padding(6, 0, 12, 0);
  @include margin(0);
  color: darken($base-font-color, 10%);
  @include media($desktop-up) {
    @include font-size(24);
    @include line-height(28);
    @include padding(0, 0, 16, 0);
    @include margin(0);
  }
}

.small {
  @include font-size(14);
  @include line-height(21);
  @include padding(8, 0, 14, 0);
  @include margin(0);
}

.para-uppercase {
  @include font-size(12);
  @include line-height(18);
  @include padding(8, 0, 14, 0);
  @include margin(0);
  text-transform: uppercase;
}

strong, b,{
  font-weight: bold;
}

em {
  font-style:italic;
}



a {
  color: $dark-gray;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($dark-gray, 20%);
  }

  &:active,
  &:focus {
    outline: none;
  }
  &:active {
    //top: 1px;
  }
}

p a {
  font-weight: 600;
  // color: $lighter-orange;
  color: $darker-orange;
  &.underlined{ @include animated-link-underline(); }
}


p.centered {
  text-align: center;
}

hr {
  border-bottom: 1px solid $light-gray ;
  border-left: none;
  border-right: none;
  border-top: none;
  max-width: 30%;
  height:2px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @include clearfix();
  z-index: $z-above-content;
}

mark {
  background: opacify(yellow, 0.4);
  color: #000;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

figcaption {
  text-align: center;
  @include media($tablet-up) {
      text-align:right;
  }

  @extend .small;
  padding-top: 6px;

  a {
     @include animated-link-underline();
  }
}
.pswp__caption__center a{
   @include animated-link-underline();
  &:hover{
    color: white;
  }
}
blockquote {
  position: relative;
  margin-left: 16px;
  padding-left: 20px;

  padding-top: 42px;
  border-left: solid 4px $pale-orange;

  margin-bottom: 18px;

  @include font-size(22);
  @include line-height(28);
  color: darken($base-font-color, 10%);
  @include media($desktop-up) {
    @include font-size(26);
    @include line-height(36);
    padding-left: 54px;
    margin-left: 0px;
  }
  &:before {
    content: '\201C';
    position: absolute;
    padding-top: 12px;
    height: 42px;
    top: 24px;
    left: 16px;
    overflow-y:visible;
    @include media($desktop-up) {
      left: 12px;
    }
    font-family: Arial, sans-serif;
    font-size: 112px;
    font-style: normal;
    color: $medium-gray;
  }

  .credit {
    @extend .small;
    font-family: $helvetica;
    color: $medium-gray;
    @include padding(6, 0, 18, 0);
  }
  // &:after {
  //   content: '\201C';
  //   position: absolute;
  //   bottom: -12px;
  //   right: 12px;
  //   font-family: Arial, sans-serif;
  //   font-size: 82px;
  //   font-style: normal;
  // }
}


// main-content typography

.content-main {
  @include media($tablet-up) {
    /* p {
      max-width: 540px;
      float: none;
      clear: both;
    } */

  }

  @include media($tablet-up){
    p {
      max-width: 740px;
      float: none;
      clear: both;
    }
  }
}



// chevrons

.chevron {}

.chevron::before {
	border-style: solid;
  border-color: whitesmoke;
	border-width: 0.3em 0.3em 0 0;
	content: '';
	display: inline-block;
	height: 1em;
	left: 0;
	position: relative;
	top: 12px;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1em;
}
.chevron:hover{
  border-radius: 50%;
  /* border: 1px solid white ; */
}
.chevron:hover::before {
  color: white;
}
.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
  left: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}
